{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillInstallBundle::layout.html.twig" %}

{% block title %}{{ "app_installation"|trans({"%app_name%" : app_name}) }} - {{ step_label|trans }}{% endblock %}

{% block content %}
    <fieldset>
        <form action="{{ path("_installer") }}" method="post">
            <div class="row">
                <div class="col-lg-12 col-md-12 well">
                    {{ install_step(step) }}

                    {% if not is_first_install_step() %}
                        <div class="control-group pull-left" id="restart_button">
                            <a href="{{ path("_installer_restart") }}" class="btn btn-warning" title="{{ "restart_installation"|trans }}">{{ "restart"|trans }}</a>
                        </div>
                    {% endif %}

                    <div class="control-group pull-right" id="next_button">
                        <input type="submit" class="btn btn-primary" value="{{ "next"|trans }}" />
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
{% endblock content %}
