{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout:single_column.html.twig" %}

{% block title %}{{ "CSBill Installation Success"|trans }}{% endblock %}

{% block body %}
    <fieldset>
        <legend>
            <h1>{{ "Success"|trans }}</h1>
        </legend>

        <div class="well">
            <h3>{{ "You have successfully installed CSBill!"|trans }}</h3>

            <a href="{{ path('_login') }}" class="btn-lg btn btn-success">{{ icon('user') }} {{ "Log in now"|trans }}</a>
        </div>
    </fieldset>
{% endblock %}
