{#
 #
 # This file is part of the CSBill package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

<div class="control-group">
	<h3>{{ "Company Information"|trans }}</h3>

	<div class="company_information">
		<div class="row-fluid">
			<div class="span4">
				<label for="company_name">{{ "Company Name"|trans }}</label>
				<input type="text" name="company_name" id="company_name" />
			</div>

			<div class="span4">
				<label for="language">{{ "Language"|trans }}</label>
				<select name="language" id="language">
					<option>English</option>
					<option>French</option>
					<option>Deutch</option>
				</select>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<label for="currency">{{ "Currency"|trans }}</label>
				<select name="currency" id="currency">
					<option>United States Dollar</option>
					<option>South African Rand</option>
				</select>
			</div>

			<div class="span4">
				<label for="country">{{ "Country"|trans }}</label>
				<select name="country" id="country">
					<option>United States</option>
					<option>South Africa</option>
				</select>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<label for="company_logo">{{ "Company Logo"|trans }}</label>
				<input type="file" name="company_logo" id="company_logo" />
			</div>
		</div>
	</div>

	<br />

	<h3>{{ "Admin User Information"|trans }}</h3>

	<div class="company_information">
		<div class="row-fluid">
			<div class="span4">
				<label for="email_address">{{ "Email Address"|trans }}</label>
				<input type="text" name="email_address" id="email_address" value="{{ step.params.email_address }}" />
			</div>

			<div class="span4">
				<label for="username">{{ "Username"|trans }}</label>
				<input type="text" name="username" id="username" />
			</div>

			<div class="span4">
				<label for="password">{{ "Password"|trans }}</label>
				<input type="password" name="password" id="password" />
			</div>
		</div>
	</div>
</div>
