<div class="well well-small contact-card" data-id="{{ contact.id }}">
    <h4>
        {{ icon('user') }} {{ contact.firstname }} {{ contact.lastname }}
    </h4>

    <dl class="dl-horizontal">
        {% for contact_details in contact.details if contact_details.primary %}
            <dt>{{ contact_details.type|title }}:</dt>
            <dd>{{ contact_details.value|nl2br }}</dd>
        {% endfor %}
    </dl>

    <div class="pull-right contact-actions">
        <a href="{{ path('_clients_edit_contact', {'id' : contact.id}) }}" rel="tooltip" title="{{ "contact_edit"|trans }}" class="text-info edit-contact">
            {{ icon('pencil') }}
        </a>
        <a href="#" rel="tooltip" title="{{ "contact_delete"|trans }}" class="text-danger delete-contact">
            {{ icon('trash', ['o']) }}
        </a>
    </div>

    <br class="clearfix" />
</div>
