{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="well well-small contact-card" data-id="{{ contact.id }}">
    <h4>
        {{ icon('user') }} {{ contact.firstname }} {{ contact.lastname }}
    </h4>

    <dl class="dl-horizontal">
        {% for contact_details in contact.primaryDetails %}
            <dt>{{ contact_details.type|title }}:</dt>
            <dd>{{ contact_details.value }}</dd>
        {% endfor %}
    </dl>

    <div class="pull-right contact-actions">
        <a href="{{ path('_clients_edit_contact', {'id' : contact.id}) }}" rel="tooltip" title="{{ "contact_edit"|trans }}" class="text-info edit-contact">
            {{ icon('pencil') }}
        </a>
        <a href="#" rel="tooltip" title="{{ "contact_delete"|trans }}" class="text-danger delete-contact">
            {{ icon('trash', ['o']) }}
        </a>
    </div>

    <br class="clearfix" />
</div>
