{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<legend>
    <h3>
        {{ icon('fiel', ['text', 'o']) }} {{ "quotes"|trans }}
    </h3>
</legend>

{% for quote in client.quotes %}
    <div class="row">
        <div class="col-lg-2 col-md-2">
            {{ status_label(quote.status) }}
        </div>
        <div class="col-lg-1 col-md-1">
            {{ quote.id }}
        </div>
        <div class="col-lg-3 col-md-3">
            {{ quote.created|date }}
        </div>
        <div class="col-lg-3 col-md-3">
            {{ quote.total|currency }}
        </div>
        <div class="col-lg-2 col-md-2">
            <a href="{{ url('_quotes_view', {'id': quote.id}) }}" class="btn">
                {{ icon('eye') }} {{ "view"|trans }}
            </a>
        </div>
    </div>
    <hr />
{% else %}
    <span class="muted">{{ "no_quotes"|trans }} <a href="{{ path("_quotes_create", {"client" : client.id}) }}">{{ "create_now"|trans }}</a></span>
{% endfor %}
