{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'CSBillCoreBundle:Layout:single_column.html.twig' %}

{% block page_title %}{{ 'dashboard'|trans }}{% endblock %}

{% block title %}
    {{ icon('dashboard') }} {{ block('page_title') }}

    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                {{ icon('plus') }} {{ 'dashboard.create.new'|trans }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="{{ path('_clients_add') }}">
                        {{ icon('user') }} {{ 'dashboard.create.client'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('_quotes_create') }}">
                        {{ icon('file-text-o') }} {{ 'dashboard.create.quote'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('_invoices_create') }}">
                        {{ icon('file-text-o') }} {{ 'dashboard.create.invoice'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}

    <br class="clear" />

    <div class="widget">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                {{ icon('group', ['fa-5x']) }}
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>
                                    {{ 'dashboard.active_clients'|trans }}
                                </div>
                                <h3>
                                    {{ totalClients }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                {{ icon('money', ['fa-5x']) }}
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>
                                    {{ 'dashboard.income_received'|trans }}
                                </div>

                                <h3>
                                    {{ totalIncome|currency }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                {{ icon('file-text-o', ['fa-5x']) }}
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>
                                    {{ 'dashboard.pending_quotes'|trans }}
                                </div>
                                <h3>
                                    {{ totalQuotes }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                {{ icon('file-text-o', ['fa-5x']) }}
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>
                                    {{ 'dashboard.outstanding_invoices'|trans }}
                                </div>
                                <h3>
                                    {{ totalInvoices }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {{ render(controller('CSBillClientBundle:Dashboard:recent')) }}
            {{ render(controller('CSBillQuoteBundle:Dashboard:recent')) }}
        </div>
        <div class="row">
            {{ render(controller('CSBillInvoiceBundle:Dashboard:recent')) }}
            {{ render(controller('CSBillPaymentBundle:Dashboard:recent')) }}
        </div>
    </div>
{% endblock content %}