{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'CSBillCoreBundle:Layout:single_column.html.twig' %}

{% block page_title %}{{ 'dashboard'|trans }}{% endblock %}

{% block title %}
    {{ icon('dashboard') }} {{ block('page_title') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if paymentsConfigured() and payments|length > 0 %}
        <script src="{{ asset('js/highcarts/highcharts.js') }}"></script>
    {% endif %}
{% endblock javascripts %}

{% block content %}

    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <div class="btn-group">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                    {{ 'create_new'|trans }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('_clients_add') }}">{{ 'client'|trans }}</a></li>
                    <li><a href="{{ path('_quotes_create') }}">{{ 'quote'|trans }}</a></li>
                    <li><a href="{{ path('_invoices_create') }}">{{ 'invoice'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br class="clear" />
    <div class="row">
        <div class="col-md-6">
            <div id="graph-income"></div>
        </div>
        <div class="col-md-6">
            <div id="graph-monthly-income"></div>
        </div>
    </div>

    <div class="row">
        {{ render(controller('CSBillClientBundle:Dashboard:recent')) }}
        {{ render(controller('CSBillQuoteBundle:Dashboard:recent')) }}
        {{ render(controller('CSBillInvoiceBundle:Dashboard:recent')) }}
        {{ render(controller('CSBillPaymentBundle:Dashboard:recent')) }}
    </div>
{% endblock content %}

{% block script %}
    {% if paymentsConfigured() %}
        {% if payments|length > 0 %}
            var chart = $('#graph-income').highcharts({
                title: {
                    text: '{{ 'Payments Received'|trans }}',
                    x: -20
                },
                chart: {
                    zoomType: 'x'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: '{{ 'amount'|trans }} ({{ currency.currency }})'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valuePrefix: '{{ currency.currencySymbol }}',
                    pointFormat: '<b>{point.y}</b>'
                },
                legend: {
                    enabled: false
                },
                series: [{
                    data: {{ payments|json_encode }},
                    pointStart: {{ payments[0][0] }},
                    pointInterval: 24 * 3600 * 1000
                }]
            });
        {% endif %}

        {% if monthPayments|length > 0 %}
            var chart = $('#graph-monthly-income').highcharts({
                title: {
                    text: '{{ 'Monthly Income'|trans }}',
                    x: -20
                },
                chart: {
                    type: 'column',
                    zoomType: 'x'
                },
                xAxis: {
                    categories: {{ monthPayments|keys|json_encode|raw }}
                },
                yAxis: {
                    title: {
                        text: '{{ 'amount'|trans }} ({{ currency.currency }})'
                    },
                    plotLines: [{
                        value: 0,
                     width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valuePrefix: '{{ currency.currencySymbol }}',
                    pointFormat: '<b>{point.y}</b>'
                },
                legend: {
                    enabled: false
                },
                series: [{
                    data: [
                        {% for date, amount in monthPayments %}
                        {
                            name: '{{ date }}',
                            y: {{ amount }}
                        },
                        {% endfor %}
                    ],
                    colorByPoint: true
                }]
            });
        {% endif %}
    {% endif %}
{% endblock script %}
