{#
 #
 # This file is part of the CSBill package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

{% extends 'CSCoreBundle::layout.html.twig' %}

{% block heading %}
    <fieldset>
        <legend>
            <h3>{{ block('title') }}</h3>
        </legend>
    </fieldset>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        'bundles/csbillcore/css/*.css'
        'bundles/csbillcore/less/styles.less'
        filter="less, cssrewrite,?yui_css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {% javascripts
        "@CSCoreBundle/Resources/public/js/bootstrap.min.js"
        "@CSCoreBundle/Resources/public/js/underscore.js"
        "@CSCoreBundle/Resources/public/js/backbone.js"
        "@CSCoreBundle/Resources/public/js/plugins.js"
        "@CSCoreBundle/Resources/public/js/plugins/*.js"
        "@CSCoreBundle/Resources/public/js/script.js"
        "@FOSJsRoutingBundle/Resources/public/js/router.js"
        filter="?yui_js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData", "_format" : "js"}) }}"></script>

    <script type="text/javascript">
        accounting.settings = {
                currency: {
                    symbol : "{{ currency.currencySymbol }}",
                    format: "%s%v", // TODO : set format. controls output: %s = symbol, %v = value/number (can be object: see below)
                    decimal : "{{ currency.decimalSeparator }}",  // decimal point separator
                    thousand: "{{ currency.thousandSeparator }}",  // thousands separator
                    precision : 2   // decimal places
                },
                number: {
                    precision : 0,  // default precision on numbers is 0
                    thousand: "{{ currency.thousandSeparator }}",
                    decimal : "{{ currency.decimalSeparator }}"
                }
            };

        {% set script = block("script") %}

        {% if script %}
            $(function(){
                {{ script|raw }}
            });
        {% endif %}
    </script>
{% endblock %}

{% block header %}
    {% include "CSBillCoreBundle:Menu:top.html.twig" with {"title" : app_name} %}
{% endblock header %}

{% block footer %}
    <hr />
    <small>{{ "Powered by"|trans }} <a href="#">{{ app_name }}</a>
{% endblock footer %}
