{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'CSBillCoreBundle:Layout:base.html.twig' %}

{% block heading %}
    {% set title = block('title') %}

    {% if title is not empty %}
        <fieldset class="page-heading">
            <legend>
                <h3>{{ title }}</h3>
            </legend>
        </fieldset>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData", "_format" : "js"}) }}"></script>

    <script type="text/javascript">
        accounting.settings = {
                currency: {
                    symbol : "{{ currency.currencySymbol }}",
                    format: "%s%v", // TODO : set format. controls output: %s = symbol, %v = value/number (can be object: see below)
                    decimal : "{{ currency.decimalSeparator }}",  // decimal point separator
                    thousand: "{{ currency.thousandSeparator }}",  // thousands separator
                    precision : 2   // decimal places
                },
                number: {
                    precision : 0,  // default precision on numbers is 0
                    thousand: "{{ currency.thousandSeparator }}",
                    decimal : "{{ currency.decimalSeparator }}"
                }
            };

        {% set script = block("script") %}

        {% if script %}
            $(function(){
                {{ script|raw }}
            });
        {% endif %}
    </script>
{% endblock %}

{% block header %}
    {% include "CSBillCoreBundle:Menu:top.html.twig" with {"title" : app_name} %}
{% endblock header %}

{% block footer %}
    <hr />
    <small>{{ "powered_by"|trans }} <a href="http://csbill.org">CSBill</a> - {{ app_version }}</small>
{% endblock footer %}
