{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title></title>

        {% stylesheets
            'bundles/csbillcore/less/email.less'
            filter="lessphp, cssrewrite, yui_css"
        %}
            <style type="text/css" rel="stylesheet">
                {{ file(asset(asset_url)) }}
            </style>
        {% endstylesheets %}
    </head>
    <body>
        <header>
            {{ block('header') }}
        </header>

        <div role="main" class="container">
            <img src="{{ asset('img/logo.png', null, true) }}" class="logo" />
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="widget">
                        <h2>{{ block('title') }}</h2>
                        <hr />
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 align-left">
                                {{ block('content') }}
                            </div>
                        </div>
                        <br class="clear" />
                    </div>
                    <div class="footer">
                        You can update your notification settings
                        <a href="{{ url('_settings') }}">here</a>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            {{ block('footer') }}
        </footer>
    </body>
</html>
