{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% use 'form_div_layout.html.twig' %}

{% block money_widget %}
{% spaceless %}
    <div class="{{ money_addon_class }}">{{ parent() }}</div>
{% endspaceless %}
{% endblock money_widget %}

{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        <fieldset>
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </fieldset>
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} data-required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} data-pattern="{{ pattern }}"{% endif %}
    {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
{% endspaceless %}
{% endblock widget_attributes %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{{ errors|length > 0 ? ' has-error' : '' }}{{ 'checkbox' in form.vars.block_prefixes ? ' checkbox ' }} {{ form.vars.attr.class|default('') }}">

        {{ form_label(form, label|default(null)) }}
        {{ form_widget(form) }}

        {#
            If the child is a compound form, the errors are rendered inside
            the container. See also block form_rows.
        #}

        {% if not compound %}
            {{ form_errors(form) }}
        {% endif %}

        {% if help is defined and help is not empty %}
            <span class="help-{{ help_type }}"><small>{{ help|trans|nl2br }}</small></span>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_rows %}
{% spaceless %}
    {{ form_errors(form) }}
    {% for child in form %}
        {% if prototype is defined %}
            <div class="content">
        {% endif %}
        {{ form_row(child) }}
        {% if prototype is defined %}
            </div>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="{{ compound ? "alert alert-danger" : "help-block" }}">
                {% for error in errors %}
                    {{
                        error.messagePluralization is null
                            ? error.messageTemplate|trans(error.messageParameters, 'validators')
                            : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                    }}
                    <br />
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_label %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    {% if not compound %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}

        {% set label_attr = label_attr|merge({'for': id}) %}
        <label class="control-label"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% else %}
        {#{% if prototype is defined %}
            <legend><h2{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</h2></legend>
        {% endif %}#}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <div class="{{ child.vars.block_prefixes|join(' ') }}">
            {{ form_widget(child) }}
            {{ form_label(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block percent_widget %}
{% spaceless %}
    {% set type = type|default('number') %}

    <div class="input-group">
        {{ block('form_widget_simple') }} <div class="input-group-addon">%</div>
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{% block image_upload_widget %}
{% spaceless %}

    {{ block('form_widget_simple') }}

    <div id="{{ id }}-uploader"></div>

    <script type="text/javascript">
        {# TODO : trim all the whitespace #}
        {# TODO : move all this to an external js file #}
        $(function(){

            function uploadSuccess(file, data, resource)
            {
                if($.type(data) !== 'object') {
                    data = $.parseJSON(data);
                }

                $('#{{ id }}-uploader').hide();

                var img = $('<img />').attr('src', '{{ asset("uploads") }}/' + data.file);
                var a = $('<a />').attr('href', '#').addClass('thumbnail').html(img);
                var close_img = $('<b />').html('X').addClass('close');
                var close = $('<a />').attr({'href' : '#', 'title' : '{{ "Remove Image"|trans }}"', 'rel' : 'tooltip'}).addClass('pull-right').html(close_img);

                close.on('click', function(evt){
                    evt.preventDefault();
                    var a = $(this);

                    a.parents('div.image-thumbnail-preview').remove();

                    $('#{{ id }}-uploader').show();
                    $("#{{ id }}").val('');
                });

                var li = $('<li />').addClass('span2').append(close).append(a);
                var ul = $('<ul />').addClass('thumbnails').append(li);
                var div = $('<div />').addClass('image-thumbnail-preview').html(ul);

                $('#{{ id }}').val(data.file);

                $('#{{ id }}-uploader-queue').html('');
                $('#{{ id }}-uploader').after(div);
            }

            $('#{{ id }}').hide();
            $('#{{ id }}-uploader').uploadify({
                    "swf" : "{{ asset('swf/uploadify.swf') }}",
                    "uploader" : "{{ path("_image_upload") }}",
                    "formData" : {"sessionId" : "{{ sessionId }}"},
                    "buttonText" : "{{ "Select File"|trans }}",
                    "multi"        : false,
                    "onUploadSuccess" : uploadSuccess
                });

            {% if value is not empty %}
                uploadSuccess(null, {"file" : "{{ value }}"});
            {% endif %}
        });
    </script>
{% endspaceless %}
{% endblock image_upload_widget %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block contact_detail_widget %}
    {% include "CSBillClientBundle:Form:contact_details.html.twig" %}
{% endblock contact_detail_widget %}

{% block contact_widget %}
    {% include "CSBillClientBundle:Form:contacts.html.twig" %}
{% endblock contact_widget %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        {% if required and empty_value is none and not empty_value_in_choices %}
            {% set required = false %}
        {% endif %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block tax_field_widget %}
{% spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {% spaceless %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
            {% if required and empty_value is none and not empty_value_in_choices %}
                {% set required = false %}
            {% endif %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('tax_choice_widget_options') }}
            </select>
        {% endspaceless %}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block tax_choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                {% set attrs %}{% spaceless %}
                    data-type="{{ choice.data.type }}" data-rate="{{ choice.data.rate }}"
            {% endspaceless %}{% endset %}
                <option value="{{ choice.value }}" {{ attrs }} {% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }} {{ choice.data.id }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock tax_choice_widget_options %}
