{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set locale = app.request.locale|split('_')[0] %}

<!DOCTYPE html>
<html class="no-js" lang="{{ locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ block('page_title') is defined  ? block('page_title') : (block('title') is defined ? block('title')) }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" type="image/x-icon" href="{{ asset('/favicon.ico') }}" />
    <link rel="shortcut icon" type="image/png" href="{{ asset('/favicon.ico') }}"/>
    <meta name="theme-color" content="#1E88E7">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        {% if module is defined %}
            {{ encore_entry_link_tags(module) }}
        {% endif %}
    {% endblock stylesheets %}

    {% include '@SolidInvoiceCore/_partials/scripts.html.twig' %}

</head>
<body
    class="{{ setting('design/system/theme')|default('skin-solidinvoice-default') }} sidebar-mini hold-transition transition-fade {{ body_class|default('') }}"
    data-controller="@symfony/ux-swup/swup"
    data-containers="#swup-main #swup-nav"
    data-debug="data-debug"
    data-theme="fade"
    data-animate-history-browsing="data-animate-history-browsing"
>
    <div class="lds-ripple"><div></div><div></div></div>
    <div class="wrapper">
        {{ block('body_top') is defined ? block('body_top') }}
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

        {% if block('header') is defined %}
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                {{ block('header') }}
            </nav>
        {% endif %}

        {{ block('body') is defined ? block('body') }}

        {% if block('footer') is defined %}
            <footer class="main-footer">
                {{ block('footer') }}
            </footer>
        {% endif %}

        {% if module is defined %}
            {{ encore_entry_script_tags(module) }}
        {% else %}
            {{ encore_entry_script_tags('core') }}
        {% endif %}

        {{ block('scripts') is defined ? block('scripts') }}

        {{ block('body_bottom') is defined ? block('body_bottom') }}
    </div>
</body>
</html>

