{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}
{% set locale = app.request.locale|split('_')[0] %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ locale }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ locale }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ locale }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ locale }}"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ block('page_title') is defined  ? block('page_title') : (block('title') is defined ? block('title')) }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {% block meta %}{% endblock %}

    {% webpack css '@SolidInvoiceCoreBundle/Resources/public/less/styles.less' %}
	    <link rel="stylesheet" href="{{ asset(asset_url) }}" type="text/css" />
    {% end_webpack %}

    {#{% include 'SolidInvoiceCoreBundle:_partials:scripts.html.twig' %}#}
</head>
<body class="{{ setting('design/system/theme', 'skin-blue') }} sidebar-mini {{ body_class|default('') }}">
    <div class="wrapper" id="app">
        {{ block('body_top') is defined ? block('body_top') }}
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

        <header class="main-header">
            {{ block('header') is defined ? block('header') }}
        </header>

        <div class="content-wrapper">
            {{ block('body') is defined ? block('body') }}
        </div>

        <footer class="main-footer">
            {{ block('footer') is defined ? block('footer') }}
        </footer>

        {{ block('scripts') is defined ? block('scripts') }}

        {{ block('body_bottom') is defined ? block('body_bottom') }}
    </div>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% webpack js '@SolidInvoiceCoreBundle/Resources/assets/js/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% end_webpack %}
</body>
</html>
