{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceCore/Layout/base.html.twig' %}

{% block heading %}
    {% set title = block('title') is defined ? block('title') %}

    {% if title is not empty %}
        <fieldset class="page-heading">
            <legend>
                <h3>{{ block('title') }}</h3>
            </legend>
        </fieldset>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% set script = block("script") ?? null %}

    {% if script is not empty %}
        <script>
            {{ script|raw }}
        </script>
    {% endif %}
{% endblock %}

{% block header %}
    {% include "@SolidInvoiceCore/Menu/top.html.twig" with {"title" : app_name, "header_content" : header_content|default('')} %}
{% endblock header %}

{% block footer %}
    <small>{{ "powered_by"|trans }} <a href="http://solidinvoice.co">{{ constant('SolidInvoice\\CoreBundle\\SolidInvoiceCoreBundle::APP_NAME') }}</a> - {{ app_version }}</small>
{% endblock footer %}

{% block body_bottom %}
    <div id="modal-container" class="modal" tabindex="-1"></div>
{% endblock body_bottom %}

{% block body %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4" id="swup-nav">
        <a class="brand-link" href="{{ url('_dashboard') }}">
            {{ app_logo() }}

            <span class="brand-text font-weight-light">
                {{ app_name }}
            </span>
        </a>

        <section class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    {#<img src="http://t2.tagstat.com/im/people/silhouette_m_300.png" class="img-circle" alt="User Image">#}
                    <img src="https://gravatar.com/avatar/{{ app.user.email|md5 }}?d=mm" class="img-circle" alt="User Image">
                </div>
                <div class="info text-white">
                    <p>{{ app.user.username }}</p>
                    <a href="{{ path('_profile') }}">{{ icon('envelope') }} {{ app.user.email }}</a>
                </div>
            </div>

            {{ menu('sidebar') }}

            {% if block('sidebar') is defined %}
                <nav class="mt-2">
                    {{ block('sidebar') }}
                </nav>
            {% endif %}
        </section>
    </aside>

    <div class="content-wrapper" id="swup-main">
        <section class="content-header">
            {{ block('heading') is defined ? block('heading') }}
        </section>

        <section class="content">

            {% include "@SolidInvoiceCore/flash.html.twig" %}

            {{ block('content') is defined ? block('content') }}
        </section>
    </div>
{% endblock body %}
