{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'CSBillCoreBundle:Layout:base.html.twig' %}

{% block heading %}
    {% set title = block('title') is defined ? block('title') %}

    {% if title is not empty %}
        <fieldset class="page-heading">
            <legend>
                <h3>{{ block('title') }}</h3>
            </legend>
        </fieldset>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        require(['accounting', 'core/app'], function (Accounting, App) {
            App.on('before:start', function () {
                Accounting.settings = {
                    currency: {
                        symbol : "{{ currencyFormatter().currencySymbol(currency is defined  ? currency : null) }}",
                        format: "{{ currencyFormatter().pattern }}",
                        decimal : "{{ currencyFormatter().decimalSeparator }}",
                        thousand: "{{ currencyFormatter().thousandSeparator }}",
                        precision : 2
                    },
                    number: {
                        precision : 0,
                        thousand: "{{ currencyFormatter().thousandSeparator }}",
                        decimal : "{{ currencyFormatter().decimalSeparator }}"
                    }
                };
            });

            App.start();
        });

        {% set script = block("script") is defined ? block("script") %}

        {% if script is not empty %}
            {{ script|raw }}
        {% endif %}
    </script>
{% endblock %}

{% block header %}
    {% include "CSBillCoreBundle:Menu:top.html.twig" with {"title" : app_name, "header_content" : header_content|default('')} %}
{% endblock header %}

{% block footer %}
    <small>{{ "powered_by"|trans }} <a href="http://csbill.org">CSBill</a> - {{ app_version }}</small>
{% endblock footer %}

{% block body_bottom %}
    <div id="modal-container" class="modal fade" tabindex="-1"></div>
{% endblock body_bottom %}
