{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block header %}
    <a class="logo" href="{{ url('_dashboard') }}">
        <span class="logo-mini">
            {{ app_logo() }}
		</span>

        <span class="logo-lg">
			{{ app_logo() }} {{ app_name }}
		</span>
    </a>

    {{ parent() }}
{% endblock header %}

{% block body %}
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    {#<img src="http://t2.tagstat.com/im/people/silhouette_m_300.png" class="img-circle" alt="User Image">#}
                    <img src="https://gravatar.com/avatar/{{ app.user.email|md5 }}?d=mm" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ app.user.username }}</p>
                    <a href="{{ path('_profile') }}">{{ icon('envelope') }} {{ app.user.email }}</a>
                </div>
            </div>

            {{ block('sidebar') is defined ? block('sidebar') }}
        </section>
    </aside>

    <section class="content-header">
        {{ block('heading') is defined ? block('heading') }}
    </section>

    <section class="content">

        {% include "@SolidInvoiceCore/flash.html.twig" %}

        {{ block('content') is defined ? block('content') }}
    </section>
{% endblock body %}
