{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set body_class = body_class|default('') ~ ' layout-top-nav' %}
{% set header_content %}
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url('_dashboard') }}">
            {{ app_logo() }} {{ app_name }}
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
        </button>
    </div>
{% endset %}

{% extends 'SolidInvoiceCoreBundle:Layout:default.html.twig' %}

{% block body %}
    <section class="content-header">
        {{ block('heading') is defined ? block('heading') }}

        {% include "SolidInvoiceCoreBundle::flash.html.twig" %}
    </section>

    <section class="content">
        {{ block('content') is defined ? block('content') }}
    </section>
{% endblock body %}
