{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout/Email:notification.html.twig" %}

{% block title %}
    {{ 'client.create.heading'|trans({}, 'email') }}
{% endblock %}

{% block content %}
    <strong>
        {{ 'client.create.details.id'|trans({}, 'email') }}:
    </strong>
        <a href="{{ url('_clients_view', {'id' : client.id}) }}">
            {{ client.id }}
        </a>
    <br />

    <strong>
        {{ 'client.create.details.name'|trans({}, 'email') }}:
    </strong>
    {{ client.name }}<br />

    {% if client.website is not empty %}
        <strong>
            {{ 'client.create.details.website'|trans({}, 'email') }}:
        </strong>
        <a href="{{ client.website }}" rel="external" target="_blank">
            {{ client.website }}
        </a>
        <br />
    {% endif %}

    <h3>
        {{ 'client.create.contacts.heading'|trans({}, 'email') }}
    </h3>

    {% for contact in client.contacts %}
        <p>
            <table>
                <tr>
                    <th>
                        {{ 'client.create.contacts.name'|trans({}, 'email') }}
                    </th>
                    <td>
                        {{ contact.firstName }} {{ contact.lastName }}
                    </td>
                </tr>
                <tr>
                    {% for contactDetail in contact.primaryDetails %}
                        <th>
                            {{ contactDetail.type|humanize|title }}
                        </th>
                        <td>
                            {{ contactDetail.value }}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </p>
    {% endfor %}
{% endblock %}
