{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set footerSpan = quote.tax.positive ? 3 : 2 %}

<div class="{{ containerClass is defined ? containerClass : 'widget' }}" id="quote-create">
    <div class="invoice">
        {% block header %}
            <div class="row">
                <div class="col-xs-12">
                    {% block title %}
                        <h2 class="page-header">
                            {{ "quote.title"|trans({"%id%" : quote.id}) }} {{ quote_label(quote.status) }}
                        </h2>
                    {% endblock %}
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            From:
                            <h4>{{ app_name }}</h4>

                            {% set vatNumber = setting('system/company/vat_number') %}
                            {% if vatNumber is not empty %}
                                <p>
                                    <strong>{{ 'tax.vat_number'|trans }}</strong> {{ vatNumber }}
                                </p>
                            {% endif %}

                            {% set email = setting('system/company/contact_details/email') %}
                            {% if email is not empty %}
                                <p>
                                    {{ icon('envelope-o') }} {{ email }}
                                </p>
                            {% endif %}

                            {% set phoneNumber = setting('system/company/contact_details/phone_number') %}
                            {% if phoneNumber is not empty %}
                                <p>
                                    {{ icon('phone') }} {{ phoneNumber }}
                                </p>
                            {% endif %}

                            {% set address = setting('system/company/contact_details/address', null, true) %}
                            {% if address is not empty %}
                                <address>
                                    {{ icon('map-marker') }} {{ address(address)|replace({"\n": ", "}) }}
                                </address>
                            {% endif %}
                        </div>
                        <div class="col-sm-4 invoice-col">
                            To:
                            <h4>{{ quote.client }}</h4>
                            {% if quote.client.website is not empty %}
                                <p>
                                    <a href="{{ quote.client.website }}" rel="external" target="_blank">
                                        {{ quote.client.website }}
                                    </a>
                                </p>
                            {% endif %}

                            {% if quote.client.vatNumber is not empty %}
                                <p>
                                    <strong>{{ 'tax.vat_number'|trans }}</strong> {{ quote.client.vatNumber }}
                                </p>
                            {% endif %}

                            {% for address in quote.client.addresses %}
                                <address>
                                    {{ icon('map-marker') }} {{ address|replace({"\n": ", "}) }}<br/>
                                </address>
                            {% endfor %}
                            <p>
                                {% for user in quote.users %}
                            <address class="col-xs-6">
                                <strong>{{ user }}</strong><br/>
                                {{ icon('envelope-o') }} {{ 'email'|trans }}: {{ user.email }}<br/>
                                {% for info in user.additionalContactDetails %}
                                    {{ info.type|title }}: {{ info.value }}<br>
                                {% endfor %}
                            </address>
                            {% endfor %}
                            </p>
                        </div>
                        <div class="col-sm-4 invoice-col">
                            <dl class="dl-horizontal">
                                <dt>{{ "quote.title"|trans({"%id%" : ''}) }}</dt>
                                <dd>{{ quote.id }}</dd>
                                <dt>{{ "quote.total"|trans }}</dt>
                                <dd>{{ quote.total|formatCurrency }}</dd>
                                <dt>{{ "quote.created"|trans }}</dt>
                                <dd>{{ quote.created | date }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">

                        <table id="quote-rows" class="table table-condensed">
                            <thead>
                            <tr>
                                <th>{{ 'quote.item.heading.description'|trans }}</th>
                                <th>{{ 'quote.item.heading.price'|trans }}</th>
                                <th>{{ 'quote.item.heading.qty'|trans }}</th>
                                {% if quote.tax.positive %}
                                    <th>{{ 'quote.item.heading.tax'|trans }}</th>
                                {% endif %}
                                <th class="text-right">{{ 'quote.item.heading.total'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in quote.items %}
                                <tr>
                                    <td class="column-description">
                                        {{ item.description }}
                                    </td>
                                    <td class="column-price">
                                        {{ item.price|formatCurrency }}
                                    </td>
                                    <td class="column-qty">
                                        {{ item.qty }}
                                    </td>
                                    {% if quote.tax.positive %}
                                        <td class="column-tax">
                                            {{ item.tax }}
                                        </td>
                                    {% endif %}
                                    <td class="column-total text-right">
                                        {{ item.total|formatCurrency }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="no-line"></td>
                                    <td colspan="{{ footerSpan }}" class="thick-line text-right">
                                        <strong>{{ 'quote.subtotal'|trans }}</strong>
                                    </td>
                                    <td class="thick-line text-right">
                                        <div class="quote-sub-total">
                                            {{ quote.baseTotal|formatCurrency }}
                                        </div>
                                    </td>
                                </tr>
                                {% if quote.tax.positive %}
                                    <tr>
                                        <td class="no-line"></td>
                                        <td colspan="{{ footerSpan }}" class="no-line text-right">
                                            <strong>{{ 'quote.tax'|trans }}</strong>
                                        </td>
                                        <td class="no-line text-right">
                                            <span class="text-error quote-tax">
                                                {{ quote.tax|formatCurrency }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if quote.discount.type is not empty %}
                                    <tr>
                                        <td class="no-line"></td>
                                        <td colspan="{{ footerSpan }}" class="no-line text-right">
                                            <strong>{{ 'quote.discount'|trans }}</strong>
                                        </td>
                                        <td class="no-line text-right">
                                            <span class="text-danger quote-discount">
                                                -{{ quote.discount.type == constant('SolidInvoice\\CoreBundle\\Entity\\Discount::TYPE_MONEY') ? (quote.discount.value)|formatCurrency : quote.baseTotal|percentage(quote.discount.value)|formatCurrency }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="no-line"></td>
                                    <td colspan="{{ footerSpan }}" class="no-line text-right">
                                        <strong>
                                            {{ 'quote.total'|trans }}
                                        </strong>
                                    </td>
                                    <td class="no-line text-right">
                                        <div class="quote-total">
                                            {{ quote.total|formatCurrency }}
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="row">
            {% block footer %}
                {% if quote.terms is not empty %}
                    <div class="col-xs-6">
                        <strong>{{ 'quote.terms'|trans }}</strong>
                        <p class="text-muted well well-sm no-shadow">
                            {{ quote.terms|nl2br }}
                        </p>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

</div>
