{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% spaceless %}
<table style="width: 100%; background-color: #4a78d4">
    <tr>
        {% if settings.system.general.logo.value is not empty %}
            <td width="0%" valign="middle" style="vertical-align:middle; padding: 20px">
                <img src="{{ app.request.uriForPath('/uploads/' ~ settings.system.general.logo) }}" />
            </td>
        {% endif %}
        <td align="right" width="50%" valign="middle" style="vertical-align:middle; padding: 20px">
            <h1 style="font-size: 60px; color: #FFFFFF">{{ "Quote"|trans }}</h1>
        </td>
        <td align="center" width="50%">&nbsp;</td>
    </tr>
</table>
<p></p>
<p>
    <table style="width:100%">
        <tr>
            <td style="width: 50%" valign="top">
                <h3>
                    {% if link_client is defined and true == link_client %}
                        <a href="{{ path('_clients_view', {'id' : quote.client.id}) }}">{{ quote.client }}</a>
                    {% else %}
                        {{ quote.client }}
                    {% endif %}
                </h3>
                <p>{{ quote.client.website }}</p>

                <p>
                    {% for user in quote.users %}
                        {{ user }}
                    {% endfor %}
                </p>
            </td>
            <td style="width: 25%" align="right">
                <p><b>{{ "Quote #"|trans }}:</b><br />{{ quote.id }}</p>
                <p><b>{{ "Total"|trans }}:</b><br />{{ currency.format(quote.total) }}</p>
            </td>
            <td style="width: 25%" align="right">
                <p><b>{{ "Due"|trans }}:</b><br />{{ quote.due | date }}</p>
                <p><b>{{ "Date"|trans }}:</b><br />{{ quote.created | date }}</p>
            </td>
        </tr>
    </table>
</p>
<p></p>
<table style="width:100%;" cellspacing="0" cellpadding="8" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th style="border-top:1px solid #cccccc; border-left:1px solid #cccccc;">
                {{ "Description"|trans }}
            </th>
            <th style="border-top:1px solid #cccccc; border-left:1px solid #cccccc;">
                {{ "Price"|trans }}
            </th>
            <th style="border-top:1px solid #cccccc; border-left:1px solid #cccccc;">
                {{ "Qty"|trans }}
            </th>
            <th style="border-top:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc;">
                {{ "Total"|trans }}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in quote.items %}
            <tr{% if loop.index is odd %} style="background-color:#f5f5f5"{% endif %}>
                <td style="border-top:1px solid #cccccc; border-left:1px solid #cccccc;">
                    {{ item.description }}
                </td>
                <td style="border-top:1px solid #cccccc; border-left:1px solid #cccccc;" align="right">
                    {{ currency.format(item.price) }}
                </td>
                <td style="border-top:1px solid #cccccc; border-left:1px solid #cccccc;" align="center">
                    {{ item.qty }}
                </td>
                <td style="border-top:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc;" align="right">
                    {{ currency.format(item.price * item.qty) }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>

        {% if quote.discount is not empty %}
            <tr>
                <td colspan="3" align="right" style="border-left:1px solid #cccccc; border-top:1px solid #cccccc; border-right:1px solid #cccccc;">
                    <b>{{ "Discount"|trans }}</b>
                </td>
                <td style="border-top:1px solid #cccccc; border-right:1px solid #cccccc;" align="right">
                    <span style="color:#b94a48">{{ currency.format(quote.baseTotal | percentage(quote.discount)) }}</span>
                </td>
            </tr>
        {% endif %}

        <tr>
            <td colspan="3" align="right" style="border:1px solid #cccccc;">
                <b>{{ "Total"|trans }}</b>
            </td>
            <td style="border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; border-right:1px solid #cccccc;" align="right">
                {{ currency.format(quote.total) }}
            </td>
        </tr>
    </tfoot>
</table>
{% endspaceless %}
