{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% spaceless %}
    <div class="widget" id="quote-create">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">
                        <h2>
                            {{ "quote.title"|trans({"%id%" : quote.id}) }}
                            <small>{{ quote_label(quote.status) }}</small>
                        </h2>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-7">
                            <h4>
                                {{ quote.client }}
                            </h4>
                            {% if quote.client.website is not empty %}
                                <p>
                                    <a href="{{ quote.client.website }}" rel="external" target="_blank">
                                        {{ quote.client.website }}
                                    </a>
                                </p>
                            {% endif %}
                            <p>
                                {% for user in quote.users %}
                                    {{ user }}<br />
                                {% endfor %}
                            </p>
                        </div>
                        <div class="col-xs-5 text-right">
                            <dl class="dl-horizontal">
                                <dt>{{ "quote.title"|trans({"%id%" : ''}) }}</dt>
                                <dd>{{ quote.id }}</dd>

                                <dt>{{ "quote.total"|trans }}</dt>
                                <dd>{{ quote.total|currency }}</dd>

                                <dt>{{ "quote.created"|trans }}</dt>
                                <dd>{{ quote.created | date }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>{{ 'quote.summary'|trans }}</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">

                                <table id="quote-rows" class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>{{ 'quote.item.heading.description'|trans }}</th>
                                        <th>{{ 'quote.item.heading.price'|trans }}</th>
                                        <th>{{ 'quote.item.heading.qty'|trans }}</th>
                                        {% if quote.tax is not empty %}
                                            <th>{{ 'quote.item.heading.tax'|trans }}</th>
                                        {% endif %}
                                        <th class="text-right">{{ 'quote.item.heading.total'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in quote.items %}
                                        <tr>
                                            <td class="column-description">
                                                {{ item.description }}
                                            </td>
                                            <td class="column-price">
                                                {{ item.price|currency }}
                                            </td>
                                            <td class="column-qty">
                                                {{ item.qty }}
                                            </td>
                                            {% if quote.tax is not empty %}
                                                <td class="column-tax">
                                                    {{ item.tax|currency }}
                                                </td>
                                            {% endif %}
                                            <td class="column-total">
                                                {{ item.total|currency }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>

                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        {% if quote.tax is not empty %}
                                            <td class="thick-line"></td>
                                        {% endif %}
                                        <td class="thick-line text-center"><strong>{{ 'quote.subtotal'|trans }}</strong></td>
                                        <td class="thick-line text-right">
                                            <div class="quote-sub-total">
                                                {{ quote.baseTotal|currency }}
                                            </div>
                                        </td>
                                    </tr>
                                    {% if quote.tax is not empty %}
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-center"><strong>{{ 'quote.tax'|trans }}</strong></td>
                                            <td class="no-line text-right">
                                        <span class="text-error quote-tax">
                                            {{ quote.tax|currency }}
                                        </span>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if quote.discount is not empty %}
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            {% if quote.tax is not empty %}
                                                <td class="no-line"></td>
                                            {% endif %}
                                            <td class="no-line text-center"><strong>{{ 'quote.discount'|trans }}</strong></td>
                                            <td class="no-line text-right">
                                                <span class="text-danger quote-discount">
                                                    {{ quote.baseTotal|percentage(quote.discount)|currency }}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        {% if quote.tax is not empty %}
                                            <td class="no-line"></td>
                                        {% endif %}
                                        <td class="no-line text-center"><strong>{{ 'quote.total'|trans }}</strong></td>
                                        <td class="no-line text-right">
                                            <div class="quote-total">
                                                {{ quote.total|currency }}
                                            </div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if quote.terms is not empty %}

            <br class="clear" />

            <div>
                <strong>{{ 'quote.terms'|trans }}</strong>
                <p>
                    {{ quote.terms|nl2br }}
                </p>
            </div>
        {% endif %}
    </div>
{% endspaceless %}
