{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout/Email:notification.html.twig" %}

{% block title %}
    {{ 'payment.description'|trans({}, 'email') }}
{% endblock %}

{% block content %}
    <table>

	{% if payment.invoice is not empty %}
	    <tr>
		<th>
		    {{ 'payment.details.invoice'|trans({}, 'email') }}
		</th>
		<td>
		    <a href="{{ url('_invoices_view', {'id' : payment.invoice.id }) }}">
			{{ payment.invoice.id }}
		    </a>
		</td>
	    </tr>
	{% endif %}

	{% if payment.client is not empty %}
	    <tr>
		<th>
		    {{ 'payment.details.client'|trans({}, 'email') }}
		</th>
		<td>
		    <a href="{{ url('_clients_view', {'id' : payment.client.id}) }}">
			{{ payment.client }}
		    </a>
		</td>
	    </tr>
	{% endif %}

	<tr>
	    <th>
		{{ 'payment.details.method'|trans({}, 'email') }}
	    </th>
	    <td>
		{{ payment.method }}
	    </td>
	</tr>

	<tr>
	    <th>
		{{ 'payment.details.currency'|trans({}, 'email') }}
	    </th>
	    <td>
		{{ payment.currencyCode }}
	    </td>
	</tr>

	<tr>
	    <th>
		{{ 'payment.details.amount'|trans({}, 'email') }}
	    </th>
	    <td>
		{{ payment.totalAmount|formatCurrency }}
	    </td>
	</tr>

	<tr>
	    <th>
		{{ 'payment.details.status'|trans({}, 'email') }}
	    </th>
	    <td>
		{{ payment_label(payment.status) }}
	    </td>
	</tr>
    </table>
{% endblock %}
