{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout:single_column.html.twig" %}

{% block title %}{{ "Change Password" }}{% endblock title %}

{% block content %}

    <div class="widget">
        {{ form_start(form) }}
            {{ form_row(form) }}
            <div>
                <button type="submit" class="btn btn-primary">
                    {{ icon('save') }} {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                </button>
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-warning">
                    {{ icon('ban') }} {{ 'profile.edit.cancel'|trans }}
                </a>
            </div>
        {{ form_end(form) }}

    </div>
{% endblock content %}
