{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="row-fluid">
    <fieldset>
        <legend>
            <h4>
                {{ client.name }}
                <small>
                    (<a href="#" data-action="live#action:prevent" data-live-action-param="clearClient">{{ "change"|trans }}</a>)
                </small>
            </h4>
        </legend>

        {% if type is defined %}
            <small>{{ 'client.contacts.info.list'|trans({'%type%': type}) }}</small>
        {% endif %}

        {% if form.users is defined %}
            {{ form_errors(form.users) }}
            {{ form_row(form.users) }}
        {% endif %}
    </fieldset>
</div>
