{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% if contact is defined %}

    <div class="modal-body" data-id="{{ contact.id }}">
        <div class="alert alert-success">
            <h3>
                {{ icon('check') }} {{ "success"|trans }}
            </h3>
            {{ "contact_saved"|trans }}
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-info">{{ "Close"|trans }}</button>
    </div>
{% else %}
    <form action="{{ path("_clients_add_contact", {"id" : client.id}) }}" method="post">

        <div class="modal-header">
            <h3>{{ "add_contact"|trans }}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-warning">{{ icon('times') }} {{ "close"|trans }}</button>
            <button type="submit" class="btn btn-success">{{ icon('save') }} {{ "save"|trans }}</button>
        </div>
    </form>
{% endif %}
