{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="row-fluid">
    <fieldset>
        <legend>
            <h4>
                {{ client.name }}
                <small>
                    (<a href="#" class="client-select-change">{{ "change"|trans }}</a>)
                </small>
            </h4>
        </legend>

        {% if form is defined %}
            {{ form_errors(form.users) }}
            {{ form_row(form.users) }}
        {% else %}
            <ul class="unstyled">
                {% for contact in client.contacts %}
                    <li>
                        <div class="checkbox">
                            <input type="checkbox" name="quote[users][]" value="{{ contact.id }}" id="client-contact-{{ contact.id }}" />
                            <label for="client-contact-{{ contact.id }}">{{ contact.firstname }} {{ contact.lastname }}</label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </fieldset>
</div>
