{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set items = form.items.vars.prototype|keys %}
{% set module = 'invoice/create' %}
{% set moduleData = {
    'client': form.client.vars.data,
    'clientForm': block('form_client')
    }
%}

{% form_theme form with ['CSBillCoreBundle:Form:fields.html.twig', _self] %}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block page_title %}{{ "invoice.action.create"|trans }}{% endblock %}

{% block sidebar %}
    {{ menu('invoices_create') }}
{% endblock sidebar %}

{% block form_row %}
    {% if prototype is not defined %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr' : {'id' : 'invoice-create-form'} }) }}

    {{ form_errors(form) }}

    <div class="widget" id="invoice-create">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">
                        {% if invoice is defined %}
                            <h2>{{ 'invoice.title'|trans({'%id%' : invoice.id}) }}</h2>
                        {% else %}
                            <h2>{{ 'invoice.action.create'|trans }}</h2>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6" id="client-info">
                        </div>
                        <div class="col-xs-6 text-right">
                            {{ block('form_discount') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{ form_row(form.recurring) }}

                            <div class="recurring-info hidden">
                                {{ 'invoice.recurring.variables.text'|trans }}
                                <br />
                                <ul>
                                    <li>
                                        <strong>{day}</strong> - {{ 'invoice.recurring.variables.day'|trans }}</li>
                                    <li>
                                        <strong>{day_name}</strong> - {{ 'invoice.recurring.variables.day_name'|trans }}</li>
                                    <li>
                                        <strong>{month}</strong> - {{ 'invoice.recurring.variables.month'|trans }}</li>
                                    <li>
                                        <strong>{year}</strong> - {{ 'invoice.recurring.variables.year'|trans }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 hidden recurring-info">
                            {{ form_row(form.recurringInfo.frequency) }}
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-xs-6">
                                    {{ form_row(form.recurringInfo.date_start) }}
                                </div>
                                <div class="col-xs-6">
                                    {{ form_row(form.recurringInfo.date_end) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {{ block('form_items') }}

                <a href="#" class="add-item col-lg-2">{{ icon('plus', ['circle']) }} {{ "invoice.item.add"|trans }}</a>

            </div>

            <br class="clear"/>

            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.terms) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.notes) }}
                </div>
            </div>

            {{ form_rest(form) }}

            <div class="form-actions">
                {{ block('form_buttons') }}
            </div>
        </div>

    </div>

    {{ form_end(form) }}

{% endblock content %}

{% block form_client %}
    <div id="client-select">
        {{ form_row(form.client) }}
    </div>

    <div id="client-select-container">
        {% if form.client.vars.data %}
            {% include "CSBillClientBundle:Ajax:info.html.twig" with {'client' : form.client.vars.data, 'form' : form} %}
        {% endif %}
    </div>
{% endblock form_client %}

{% block form_discount %}
    {{ form_row(form.discount) }}
{% endblock form_discount %}

{% block form_items %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>{{ 'invoice.summary'|trans }}</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="invoice-rows" class="table table-condensed">
                            <thead>
                            <tr>
                                {% for item in items %}
                                    {% set field = form.items.vars.prototype[item] %}
                                    <th>
                                        {{ form_label(field) }}
                                    </th>
                                {% endfor %}
                                <th class="text-right">{{ 'invoice.total'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in form.items %}
                                <tr>
                                    {% for key, field in item.children|keys %}
                                        <td class="column-{{ field }}">
                                            {% set error = form_errors(item[field]) %}

                                            {% if error|trim is not empty %}
                                                <div class="form-group has-error">
                                                    {{ form_widget(item[field]) }}
                                                    {{ error|raw }}
                                                </div>
                                            {% else %}
                                                {{ form_widget(item[field]) }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td class="column-total">
                                    </td>
                                    <td>
                                        <a href="#" class="remove-item" rel="tooltip"
                                           title="{{ 'invoice.item.remove'|trans }}">{{ icon('trash', ['o']) }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4" class="thick-line text-right"><strong>{{ 'invoice.subtotal'|trans }}</strong></td>
                                <td class="thick-line text-right">
                                    <div class="invoice-sub-total"></div>
                                </td>
                                <td class="thick-line">
                                </td>
                            </tr>
                            {% if form.tax is defined %}
                                <tr>
                                    <td colspan="4" class="no-line text-right"><strong>{{ 'invoice.tax'|trans }}</strong></td>
                                    <td class="no-line text-right">
                                        <span class="text-error invoice-tax"></span>
                                    </td>
                                    <td class="no-line"></td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td colspan="4" class="no-line text-right"><strong>{{ 'invoice.discount'|trans }}</strong></td>
                                <td class="no-line text-right">
                                    <span class="text-success invoice-discount"></span>
                                </td>
                                <td class="no-line"></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="no-line text-right"><strong>{{ 'invoice.total'|trans }}</strong></td>
                                <td class="no-line text-right">
                                    <div class="invoice-total"></div>
                                </td>
                                <td class="no-line"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock form_items %}

{% block form_buttons %}
    <div class="pull-left">
        <button type="submit" class="btn btn-success" name="save" value="pending">
            {{ icon('envelope', ['o']) }} {{ "invoice.save.send"|trans }}
        </button>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-primary" name="save" value="save">
            {{ icon('save') }} {{ "invoice.save.draft"|trans }}
        </button>
    </div>

    <br class="clear"/>
{% endblock form_buttons %}

{% block script %}
    {#{% spaceless %}

        var clientSelect = $('#{{ form.client.vars.id }}');

        clientSelect.on('change', function(){
            $('body').modalmanager('loading');

            var clientSelectContainer = $(this).closest('div.form-group'),
            client_id = $(':selected', this).val();

            $.getJSON(Routing.generate('_clients_info', {"id" : client_id, "type" : "invoice"}), function(data) {
                $('#{{ form.client.vars.id }}-container').html(data.content);
                $('body').modalmanager('loading');
                clientSelectContainer.hide();
                $.material.init();
            });
        });

        $('#invoice-create-form').on('click', '.client-select-change', function(evt) {
            evt.preventDefault();
            $('#{{ form.client.vars.id }}-container').html('');
            clientSelect.closest('div.form-group').show();
            clientSelect.val('');
            clientSelect.trigger('select2-selecting');
        });

        Invoice.setSelector($('#invoice-rows'));
        {% for item in items %}
            {% set field = form.items.vars.prototype[item] %}
            Invoice.addTemplate('{{ item }}', '{{ form_widget(field) }}');
            Invoice.addField("{{ item }}");
        {% endfor %}

        Invoice.addTemplate('total', accounting.formatMoney(0));
        Invoice.addTemplate('trash', '<a href="#" class="remove-item" rel="tooltip" title="{{ "invoice.item.remove"|trans }}">{{ icon('trash', ['o']) }}</a>');
        Invoice.addField("total");
        Invoice.addField("trash");

        {% if form.items|length == 0 %}
            Invoice.addRow();
        {% else %}
            Invoice.counter = {{ form.items|length }};
        {% endif %}

        $('#invoice_recurring').on('change', function () {
            $('.recurring-info').toggleClass('hidden');
        });

        if ($('#invoice_recurring').is(':checked')) {
            $('.recurring-info').removeClass('hidden');
        }
    {% endspaceless %}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#{% javascripts
        "@CSBillInvoiceBundle/Resources/public/js/invoices.js"
        filter="?yui_js" %}
            <script src="{{ asset_url }}"></script>
    {% endjavascripts %}#}
{% endblock %}
