{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% form_theme form _self %}

{% use 'CSBillCoreBundle:Form:fields.html.twig' %}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block title %}{{ "invoice_create"|trans }}{% endblock %}

{% block sidebar %}
    {{ menu('invoices_create') }}
{% endblock sidebar %}

{% set items = form.items.vars.prototype|keys %}

{% block form_row %}
    {% if prototype is not defined %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <form {{ form_enctype(form) }} action="{{ path(app.request.get('_route'), query) }}" method="post" id="invoice-create-form">

        {{ form_errors(form) }}

        <div class="col-lg-6 col-md-6">
            {{ block('form_client') }}
        </div>
        <div class="col-lg-6 col-md-6">
            {{ block('form_discount') }}
        </div>

        {{ block('form_items') }}

        <a href="#" class="add-item">{{ icon('plus', ['circle']) }} {{ "add_item"|trans }}</a>

        {{ form_rest(form) }}

        <div class="form-actions">
            {{ block('form_buttons') }}
        </div>
    </form>
{% endblock content %}

{% block form_client %}
    {{ form_row(form.client) }}

    <div id="{{ form.client.vars.id }}-container">
        {% if form.client.vars.data %}
            {% include "CSBillClientBundle:Ajax:info.html.twig" with {'client' : form.client.vars.data, 'form' : form} %}
        {% endif %}
    </div>
{% endblock form_client %}

{% block form_discount %}
    {{ form_row(form.discount) }}
{% endblock form_discount %}

{% block form_items %}
    <table id="invoice-rows" class="table">
        <thead>
            <tr>
                {% for item in items %}
                    <th>{{ item|trans|title }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for item in form.items %}
                <tr>
                    {% for key,field in item.children|keys %}
                        <td>
                            {% set error = form_errors(item[field]) %}

                            {% if error|trim is not empty %}
                                <div class="form-group has-error">
                                    {{ form_widget(item[field]) }}
                                    {{ error|raw }}
                                </div>
                            {% else %}
                                {{ form_widget(item[field]) }}
                            {% endif %}
                            <br />
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" align="right" style="text-align:right">
                    <strong>{{ "subtotal"|trans }}</strong>
                </td>
                <td colspan="2" align="left">
                    <div class="invoice-sub-total"></div>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="right" style="text-align:right">
                    <strong>{{ "discount"|trans }}</strong>
                </td>
                <td colspan="2" align="left">
                    <span class="text-error invoice-discount"></span>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="right" style="text-align:right">
                    <strong>{{ "total"|trans }}</strong>
                </td>
                <td colspan="2" align="left">
                    <div class="invoice-total"></div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock form_items %}

{% block form_buttons %}
    <div class="col-lg-2 col-md-2">
        <button type="submit" class="btn btn-success" name="save" value="send">
            {{ icon('envelope', ['o']) }} {{ "save_send"|trans }}
        </button>
    </div>
    <div class="col-lg-2 col-md-2">
        <button type="submit" class="btn btn-primary" name="save" value="draft">
            {{ icon('save') }} {{ "save_draft"|trans }}
        </button>
    </div>
{% endblock form_buttons %}

{% block script %}
{% spaceless %}
    {% if form.client.vars.data %}
        $('#{{ form.client.vars.id }}').parents('div.form-group').hide();
    {% endif %}

    var clientSelect = $('#{{ form.client.vars.id }}');

    clientSelect.on('change', function(){

        $('body').modalmanager('loading');

        var clientSelectContainer = $(this).closest('div.form-group'),
            client_id = $(':selected', this).val();

        $.getJSON(Routing.generate('_clients_info', {"id" : client_id, "type" : "invoice"}), function(data) {
            $('#{{ form.client.vars.id }}-container').html(data.content);
            $('body').modalmanager('loading');
            clientSelectContainer.hide();
        });
    });

    $('#invoice-create-form').on('click', '.client-select-change', function(evt) {
        evt.preventDefault();
        $('#{{ form.client.vars.id }}-container').html('');
        clientSelect.closest('div.form-group').show();
        clientSelect.val('');
        clientSelect.trigger('select2-selecting');
    });

    Invoice.setSelector($('#invoice-rows'));
    {% for item in items %}
        {% set field = form.items.vars.prototype[item] %}
        Invoice.addTemplate('{{ item }}', '{{ form_widget(field) }}');
        Invoice.addField("{{ item }}");
    {% endfor %}

    Invoice.addTemplate('trash', '<a href="#" class="remove-item" rel="tooltip" title="{{ "Remove Item"|trans }}">{{ icon('trash', ['o']) }}</a>');
    Invoice.addField("trash");

    {% if form.items|length == 0 %}
        Invoice.addRow();
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
       "@CSBillInvoiceBundle/Resources/public/js/invoices.js"
       filter="?yui_js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
