{#
 #
 # This file is part of the CSBill package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

{% set parent = "CSBillCoreBundle:Layout:three_column.html.twig" %}

{% extends "CSBillDataGridBundle:Grid:default.html.twig" %}

{% block title %}{{ "Invoices"|trans }}{% endblock %}

{% block sidebar_left %}
    {{ menu('invoices_index') }}
{% endblock sidebar_left %}

{% block content %}
    <div class="row-fluid">
        {{ parent() }}

        <div class="row-fluid">
            <h5>{{ "Invoice Status Legend"|trans }}</h5>

            {% for status in status_list %}
                {{ status_label(status) }}
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block sidebar_right %}
    <div class="row-fluid">
        <div class="well well-small text-center">
            <a class="btn btn-large" href="{{ path("_invoices_create") }}">
                <i class="icon-file-alt"></i> {{ "Create Invoice"|trans }}
            </a>
        </div>
        <div class="well well-small text-center income-block">
            <h3>{{ total_income|currency }}</h3>
            {{ "Income"|trans }}
        </div>
        <div class="well well-small text-center outstanding-block">
            <h3>{{ total_outstanding|currency }}</h3>
            {{ "Outstanding"|trans }}
        </div>

        <ul class="unstyled">
            {% for status in status_list %}
                <li>
                    <label class="badge{{ status.label ? " badge-" ~ status.label }}">{{ status.invoices|length }}</label> {{ status.name|title }} Invoices
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock sidebar_right %}