{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set parent = "CSBillCoreBundle:Layout:three_column.html.twig" %}

{% extends "CSBillDataGridBundle:Grid:default.html.twig" %}

{% block title %}{{ "invoice.list.title"|trans }}{% endblock %}

{% block sidebar_left %}
    {{ menu('invoices_index') }}
{% endblock sidebar_left %}

{% block content %}

    {{ parent() }}

    <h5>{{ "invoice.list.status_legend"|trans }}</h5>

    {% for status in status_list %}
        {{ invoice_label(status) }}
    {% endfor %}
{% endblock content %}

{% block sidebar_right %}
    <div class="well well-small right-nav">

        <a class="btn btn-md btn-info action-button" href="{{ path("_invoices_create") }}">
            {{ icon('file', ['text', 'o']) }} {{ "invoice.action.create"|trans }}
        </a>

        <div class="row">
            <div class="text-center text-success">
                <h3>{{ total_income|formatCurrency }}</h3>
                {{ "invoice.list.income"|trans }}
            </div>
            <div class="text-center text-danger">
                <h3>{{ total_outstanding|formatCurrency }}</h3>
                {{ "invoice.list.outstanding"|trans }}
            </div>
        </div>

        <br class="clearfix" />

        <ul class="nav nav-list">
            {% for status, count in status_list_count %}
                <li>
                    <span class="badge">{{ count }}</span>
                    {{ ('invoice.stats.count.' ~ status)|transchoice(count) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock sidebar_right %}
