{#
 #
 # This file is part of the CSBill package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block title %}{{ "Invoice #%id"|trans|replace({"%id" : invoice.id}) }} {{ status_label(invoice.status) }}{% endblock %}

{% block sidebar %}
    {{ menu('invoices_view') }}
{% endblock sidebar %}

{% block content %}

    {# TODO : add toolbar #}
    <div class="pull-right">
        <div class="btn-toolbar">
            <div class="btn-group">
                {% if invoice is not paid %}
                    <a href="{{ path('_pay_invoice', {'id' : invoice.id}) }}" class="btn btn-success">{{ "Mark Paid"|trans }}</a>
                {% endif %}
                <a href="{{ path('_send_invoice', {'id' : invoice.id}) }}" class="btn btn-info">{{ "Send"|trans }}</a>
            </div>

            {% if invoice is draft or invoice is pending %}
                <div class="btn-group">
                    <a href="{{ path('_cancel_invoice', {'id' : invoice.id}) }}" class="btn btn-inverse">{{ "Cancel"|trans }}</a>
                </div>
            {% endif %}

            <div class="btn-group">
                <a href="{{ path('_invoices_edit', {'id' : invoice.id}) }}" class="btn btn-default">{{ "Edit"|trans }}</a>
            </div>
        </div>
    </div>

    {% include "CSBillInvoiceBundle::invoice_template.html.twig" %}
{% endblock content %}
