{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block page_title %}
    {{ "invoice.title"|trans({"%id%" : invoice.id}) }}
{% endblock page_title %}

{% block sidebar %}
    {{ menu('invoices_view') }}
{% endblock sidebar %}

{% block content %}

    <div class="pull-right">
        <div class="btn-toolbar">
            <div class="btn-group">
                {% if finite_can(invoice, 'pay', constant('CSBill\InvoiceBundle\Model\Graph::Grapth')) %}
                    <a href="{{ path('_action_invoice', {'action' : 'pay', 'id' : invoice.id}) }}" id="pay-now"
                       class="btn btn-success">
                        {{ icon('money') }} {{ "invoice.view.toolbar.mark_paid"|trans }}
                    </a>
                {% endif %}
                <a href="{{ path('_send_invoice', {'id' : invoice.id}) }}" class="btn btn-info">
                    {{ icon('envelope-o') }} {{ "invoice.view.toolbar.send"|trans }}
                </a>
            </div>

            <div class="btn-group">
                {% if finite_can(invoice, 'pay', constant('CSBill\InvoiceBundle\Model\Graph::Grapth')) %}
                    <a href="{{ path('_payments_create', {'uuid' : invoice.uuid}) }}" class="btn btn-primary">
                        {{ icon('credit-card') }} {{ "invoice.view.toolbar.pay_now"|trans }}
                    </a>
                {% endif %}
                {% if finite_can(invoice, 'cancel', constant('CSBill\InvoiceBundle\Model\Graph::Grapth')) %}
                    <a href="{{ path('_action_invoice', {'action' : 'cancel', 'id' : invoice.id}) }}"
                       class="btn btn-warning">
                        {{ icon('ban') }} {{ "invoice.view.toolbar.cancel"|trans }}
                    </a>
                {% endif %}
            </div>

            {% if finite_has(invoice, 'editable', constant('CSBill\InvoiceBundle\Model\Graph::Grapth')) %}
                <div class="btn-group">
                    <a href="{{ path('_invoices_edit', {'id' : invoice.id}) }}" class="btn btn-default">
                        {{ icon('edit') }} {{ "invoice.view.toolbar.edit"|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <br class="clear"/>
    <br class="clear"/>

    {% include "CSBillInvoiceBundle::invoice_template.html.twig" %}

    {% if invoice.notes is not empty %}

        <br class="clear"/>
        <div>
            <strong>{{ 'invoice.notes'|trans }}</strong>

            <p>
                {{ invoice.notes }}
            </p>
        </div>
    {% endif %}

    {% if paymentsConfigured() %}

        {% if payments|length > 0 %}
            <div class="col-md-10">
                <hr/>
                <h3>{{ 'payments'|trans }}</h3>
                {% include "CSBillPaymentBundle:Payment:list.html.twig" with {"payments" : payments, 'show_invoice' : false} only %}
            </div>
        {% endif %}

        <div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="payment-modal-label"
             aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="payment-modal-label">{{ 'invoice.add_payment'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'invoice.payment.capture'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{ 'close'|trans }}
                    </button>
                    <a href="{{ path('_pay_invoice', {'id' : invoice.id}) }}" class="btn btn-success">
                        {{ 'invoice.mark_paid'|trans }}
                    </a>
                    <a href="{{ path('_payments_create', {'uuid' : invoice.uuid}) }}" class="btn btn-primary">
                        {{ 'invoice.capture_payment'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block script %}
    {% if paymentsConfigured() %}
        $('#pay-now').on('click', function(event) {
        event.preventDefault();

        $('#payment-modal').modal();
        });
    {% endif %}
{% endblock script %}
