{% if clients is not empty %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'Recent Clients'|trans }}
            </div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>{{ 'id'|trans }}</th>
                    <th>{{ 'name'|trans }}</th>
                    <th>{{ 'status'|trans }}</th>
                    <th>{{ 'website'|trans }}</th>
                    <th>{{ 'created'|trans }}</th>
                </tr>
                {% for client in clients %}
                    <tr>
                        <td>
                            <a href="{{ path('_clients_view', {'id' : client.id}) }}">{{ client.id }}</a>
                        </td>
                        <td>
                            {{ client.name }}
                        </td>
                        <td>
                            {{ status_label(client) }}
                        </td>
                        <td>
                            {% if client.website is not empty %}
                                <a href="{{ client.website }}" rel="external">{{ client.webste }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ client.created|date }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}