{% extends "CSBillCoreBundle:Layout:Email.html.twig" %}

{% block title %}
    {{ 'invoice.status_change.heading'|trans({}, 'email') }}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>
                {{ 'invoice.status_change.id'|trans({}, 'email') }}
            </th>
            <td>
                <a href="{{ url('_invoices_view', {'id' : invoice.id}) }}">
                    {{ invoice.id }}
                </a>
            </td>
        </tr>
        <tr>
            <th>
                {{ 'invoice.status_change.old_status'|trans({}, 'email') }}
            </th>
            <td>
                {{ invoice_label(old_status) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'invoice.status_change.new_status'|trans({}, 'email') }}
            </th>
            <td>
                {{ invoice_label(new_status) }}
            </td>
        </tr>
    </table>
{% endblock %}