<h3>
    {{ 'invoice.status_change.heading'|trans({}, 'email') }}
</h3>
<br />
<strong>
    {{ 'invoice.status_change.id'|trans({}, 'email') }}:
</strong>
<a href="{{ url('_invoices_view', {'id' : invoice.id}) }}">
    {{ invoice.id }}
</a><br />

<strong>
    {{ 'invoice.status_change.old_status'|trans({}, 'email') }}:
</strong>
{{ old_status }}<br />

<strong>
{{ 'invoice.status_change.new_status'|trans({}, 'email') }}:
</strong>
{{ new_status }}
