{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'SolidInvoiceInstallBundle::layout.html.twig' %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ "installation.finish.success"|trans }}
            </h3>
        </div>
        <div class="box-body">
            <h4>
                {{ "installation.finish.success_message"|trans }}
            </h4>

            <div>
                <p>
                    As a final step, you must add a scheduled task to run every 5 minutes.
                </p>
                <p>
                    Add the following cron job:
                    <br />
                <pre style="color: #c7254e;">
                    0/5 * * * * php {{ rootDir }}/console cron:run -e prod -n
                </pre>
                </p>
            </div>
        </div>
        <div class="box-footer">
            <a id="login" href="{{ path('sylius_flow_forward', {'stepName' : 'finish'}) }}" class="btn-lg btn btn-success">
                {{ icon('user') }} {{ "installation.finish.login"|trans }}
            </a>
        </div>
    </div>
{% endblock %}
