{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceInstall/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {{ icon('cog') }} {{ 'installation.setup.title.system_settings'|trans }}
                    </h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.locale) }}
                    {{ form_row(form.currency) }}
                    {{ form_row(form.base_url) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% if userCount > 0 %}
                <div class="callout callout-warning">
                    <h4>{{ 'installation.setup.notice'|trans }}</h4>
                    <p>
                        {{ 'installation.setup.user_exists'|trans }}
                    </p>
                </div>
            {% else %}
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {{ icon('user') }} {{ 'installation.setup.title.admin_user'|trans }}
                        </h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(form) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="control-group pull-right" id="next_button">
        <button type="submit" class="btn btn-success" id="continue_step">
            {{ "installation.action.next"|trans }} {{ icon('arrow-right') }}
        </button>
    </div>
    <br class="clear" />

    {{ form_end(form) }}
{% endblock %}
