{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/single_column.html.twig" %}

{% block title %}{{ "Change Password" }}{% endblock title %}

{% block content %}
    <div class="card card-primary">
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_row(form) }}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">
                {{ icon('save') }} {{ 'change_password.submit'|trans }}
            </button>
            <a href="{{ path('_profile') }}" class="btn btn-warning">
                {{ icon('ban') }} {{ 'profile.edit.cancel'|trans }}
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
