<li role="presentation">
    <a href="#{{ method }}" aria-controls="{{ method }}" data-method="{{ method }}">
	<span class="icon">
	    {{#if enabled }}
		<i class="fa fa-check-circle"></i>
	    {{else}}
		<i class="fa fa-times-circle"></i>
	    {{/if}}
	</span>

	{{title method }}
    </a>
</li>