<li class="nav-item">
    <a href="#{{ method }}" aria-controls="{{ method }}" data-method="{{ method }}" class="nav-link">
        {{#if enabled }}
            <i class="fas fa-check-circle"></i>
        {{else}}
            <i class="fas fa-times-circle"></i>
        {{/if}}

        <span class="icon">
            {{title method }}
        </span>
    </a>
</li>
