<li>
    <a href="#{{ method }}" aria-controls="{{ method }}" data-method="{{ method }}">
        {{#if enabled }}
            <i class="fa fa-check-circle"></i>
        {{else}}
            <i class="fa fa-times-circle"></i>
        {{/if}}

        <span class="icon">
            {{title method }}
        </span>
    </a>
</li>