<li class="list-group-item">
    <div class="list-group-item-heading">
	<div class="pull-right">
	    <a href="#" class="btn btn-danger btn-xs revoke-token">
		<i class="fa fa-ban"></i> {{trans 'profile.api.tokens.revoke' }}
	    </a>
	</div>
	<h4>
	    {{ name }}
	</h4>
	<p>
	    <input readonly="readonly" value="{{ token }}" class="form-control" />
	</p>
	<p>
	    <div class="pull-right">
		<a href="{{path 'api_key_history' id=id}}" class="view-token-history btn btn-primary btn-flat">
		    {{trans 'profile.api.tokens.history' }}
		</a>
	    </div>

	    <small>
		<strong>{{trans 'profile.api.tokens.used.last' }}</strong>
		{{#if history}}
		    {{trans 'profile.api.tokens.used.text' date=(date history.0.created) ip=history.0.ip }}
		{{else}}
		    {{trans 'profile.api.tokens.used.never' }}
		{{/if}}
	    </small>
	</p>
    </div>
</li>