{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            {% if quotes is not empty %}
                <a href="{{ path('_quotes_index') }}">
                    {{ 'dashboard.quote.view_all'|trans }}
                </a>
            {% endif %}
        </div>
        <h3 class="panel-title">
            {{ icon('file-text-o') }} {{ 'dashboard.quote.recent'|trans }}
        </h3>
    </div>
    {% if quotes is not empty %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>{{ 'dashboard.quote.grid.id'|trans }}</th>
                <th>{{ 'dashboard.quote.grid.client'|trans }}</th>
                <th>{{ 'dashboard.quote.grid.status'|trans }}</th>
                <th>{{ 'dashboard.quote.grid.total'|trans }}</th>
                <th>{{ 'dashboard.quote.grid.discount'|trans }}</th>
                <th>{{ 'dashboard.quote.grid.created'|trans }}</th>
            </tr>
            {% for quote in quotes %}
                <tr>
                    <td>
                        <a href="{{ path('_quotes_view', {'id' : quote.id}) }}">{{ quote.id }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_clients_view', {'id' : quote.client_id}) }}">{{ quote.client }}</a>
                    </td>
                    <td>
                        {{ status_label(quote) }}
                    </td>
                    <td>
                        {{ quote.total|currency }}
                    </td>
                    <td>
                        {{ quote.discount * 100 }}%
                    </td>
                    <td>
                        {{ quote.created|date }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="panel-body">
            <a href="{{ path('_quotes_create') }}">
                {{ 'dashboard.quote.create'|trans }}
            </a>
        </div>
    {% endif %}
</div>
