{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            {% if payments is not empty %}
                <a href="{{ path('_payments_index') }}">
                    {{ 'dashboard.payment.view_all'|trans }}
                </a>
            {% endif %}
        </div>
        <h3 class="panel-title">
            {{ icon('credit-card') }} {{ 'dashboard.payment.recent'|trans }}
        </h3>
    </div>
    {% if payments is not empty %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>{{ 'dashboard.payment.grid.id'|trans }}</th>
                <th>{{ 'dashboard.payment.grid.client'|trans }}</th>
                <th>{{ 'dashboard.payment.grid.invoice'|trans }}</th>
                <th>{{ 'dashboard.payment.grid.status'|trans }}</th>
                <th>{{ 'dashboard.payment.grid.method'|trans }}</th>
                <th>{{ 'dashboard.payment.grid.total'|trans }}</th>
                <th>{{ 'dashboard.payment.grid.created'|trans }}</th>
            </tr>
            {% for payment in payments %}
                <tr>
                    <td>
                        {{ payment.id }}
                    </td>
                    <td>
                        <a href="{{ path('_clients_view', {'id' : payment.client_id}) }}">
                            {{ payment.client }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('_invoices_view', {'id' : payment.invoice}) }}">
                            {{ payment.invoice }}
                        </a>
                    </td>
                    <td>
                        {{ status_label(payment) }}
                    </td>
                    <td>
                        {{ payment.method }}
                    </td>
                    <td>
                        {{ payment.amount|currency }}
                    </td>
                    <td>
                        {{ payment.created|date }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="panel-body">
            {{ 'dashboard.payment.no_payments'|trans }}
        </div>
    {% endif %}
</div>
