{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            {% if clients is not empty %}
                <a href="{{ path('_clients_index') }}">
                    {{ 'dashboard.client.view_all'|trans }}
                </a>
            {% endif %}
        </div>
        <h3 class="panel-title">
            {{ icon('group') }} {{ 'dashboard.client.recent'|trans }}
        </h3>
    </div>
    {% if clients is not empty %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>{{ 'dashboard.client.grid.id'|trans }}</th>
                <th>{{ 'dashboard.client.grid.name'|trans }}</th>
                <th>{{ 'dashboard.client.grid.status'|trans }}</th>
                <th>{{ 'dashboard.client.grid.website'|trans }}</th>
                <th>{{ 'dashboard.client.grid.created'|trans }}</th>
            </tr>
            {% for client in clients %}
                <tr>
                    <td>
                        <a href="{{ path('_clients_view', {'id' : client.id}) }}">
                            {{ client.id }}
                        </a>
                    </td>
                    <td>
                        {{ client.name }}
                    </td>
                    <td>
                        {{ status_label(client) }}
                    </td>
                    <td>
                        {% if client.website is not empty %}
                            <a href="{{ client.website }}" rel="external">
                                {{ client.webste }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {{ client.created|date }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="panel-body">
            <a href="{{ path('_clients_add') }}">
                {{ 'dashboard.client.create'|trans }}
            </a>
        </div>
    {% endif %}
</div>
