{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            {% if invoices is not empty %}
                <a href="{{ path('_invoices_index') }}">
                    {{ 'dashboard.invoice.view_all'|trans }}
                </a>
            {% endif %}
        </div>
        <h3 class="panel-title">
            {{ icon('file-text-o') }} {{ 'dashboard.invoice.recent'|trans }}
        </h3>
    </div>
    {% if invoices is not empty %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>{{ 'dashboard.invoice.grid.id'|trans }}</th>
                <th>{{ 'dashboard.invoice.grid.client'|trans }}</th>
                <th>{{ 'dashboard.invoice.grid.status'|trans }}</th>
                <th>{{ 'dashboard.invoice.grid.total'|trans }}</th>
                <th>{{ 'dashboard.invoice.grid.discount'|trans }}</th>
                <th>{{ 'dashboard.invoice.grid.created'|trans }}</th>
            </tr>
            {% for invoice in invoices %}
                <tr>
                    <td>
                        <a href="{{ path('_invoices_view', {'id' : invoice.id}) }}">{{ invoice.id }}</a>
                    </td>
                    <td>
                        <a href="{{ path('_clients_view', {'id' : invoice.client_id}) }}">{{ invoice.client }}</a>
                    </td>
                    <td>
                        {{ status_label(invoice) }}
                    </td>
                    <td>
                        {{ invoice.total|currency }}
                    </td>
                    <td>
                        {{ invoice.discount * 100 }}%
                    </td>
                    <td>
                        {{ invoice.created|date }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="panel-body">
            <a href="{{ path('_invoices_create') }}">
                {{ 'dashboard.invoice.create'|trans }}
            </a>
        </div>
    {% endif %}
</div>
