{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            {% if quotes is not empty %}
                <a href="{{ path('_quotes_index') }}">
                    {{ 'dashboard.quote.view_all'|trans }}
                </a>
            {% endif %}
        </div>
        <h3 class="panel-title">
            {{ icon('file-text-o') }} {{ 'dashboard.quote.recent'|trans }}
        </h3>
    </div>
    {% if quotes is not empty %}
        <ul class="list-group">
            {% for quote in quotes %}
                <li class="list-group-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            {{ icon('cog') }}
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('_quotes_view', {'id' : quote.id}) }}">
                                    {{ icon('eye') }} {{ 'dashboard.quote.actions.view'|trans }}
                                </a>
                            </li>
                            {% if finite_has(quote, 'editable', constant('CSBill\\QuoteBundle\\Model\\Graph::GRAPH')) %}
                                <li>
                                    <a href="{{ path('_quotes_edit', {'id' : quote.id}) }}">
                                        {{ icon('edit') }} {{ 'dashboard.quote.actions.edit'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    {{ quote_label(quote.status) }}

                    <a href="{{ path('_clients_view', {'id' : quote.client.id}) }}">
                        {{ quote.client }}
                    </a>
                    <div class="pull-right">
                        {{ quote.total|currency }}
                        <br />
                        <small>
                            <strong>
                                {{ 'dashboard.quote.actions.created'|trans }}
                            </strong>
                            {{ quote.created|diff }}
                        </small>
                    </div>
                    <br class="clear" />
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="panel-body">
            <div class="pull-left">
                <h4>
                    {{ 'dashboard.quote.empty'|trans }}
                </h4>
            </div>
            <div class="pull-right">
                <a href="{{ path('_quotes_create') }}" class="btn btn-info">
                    {{ icon('plus') }} {{ 'dashboard.quote.create'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
</div>
