{% extends "CSBillCoreBundle:Layout:single_column.html.twig" %}

{% block title %}
    {{ 'add_payment_method'|trans }}
{% endblock title %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit" class="btn btn-success">{{ icon('save') }} {{ 'save'|trans }}</button>
    {{ form_end(form) }}

    <script type="text/javascript">
        $(function () {
            $('#payment_methods_payment_method').on('change', function () {
                var $this = $(this);

                if ($this.val() === '') {
                    $('#payment_methods_settings').html('');
                } else {

                    $('body').modalmanager('loading');
                    var $form = $this.closest('form'),
                        data = {};

                    data[$this.attr('name')] = $this.val();

                    $.ajax({
                        "url"  : Routing.generate('_payments_load_settings'),
                        "type" : $form.attr('method'),
                        "data" : data,
                        "success" : function (data) {
                            $('#payment_methods_settings').replaceWith($(data.content).find('#payment_methods_settings'));
                            $('body').modalmanager('loading');
                        }
                    });
                }
            });
        });
    </script>
{% endblock content %}
