{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block title %}{{ 'payment.methods.title'|trans }}{% endblock title %}

{% block sidebar %}
    <ul class="nav nav-tabs nav-stacked" role="tablist" id="payment-method-tabs">
        {% for method in paymentMethods %}
            <li role="presentation">
                <a href="#{{ method }}" aria-controls="{{ method }}" data-method="{{ method }}" role="tab" data-toggle="tab">
                    <span class="icon">
                        {% if payment_enabled(method) %}
                            {{ icon('check-circle') }}
                        {% else %}
                            {{ icon('times-circle') }}
                        {% endif %}
                    </span>
                    {{ method|trans|humanize|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock sidebar %}

{% block content %}
    <div class="widget">
        <div class="tab-content">
            {% for method in paymentMethods %}
                <div role="tabpanel" class="tab-pane" id="{{ method }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    var spinIcon = '{{ icon('circle-o-notch', ['fa-spin']) }}',
        enabledIcon = '{{ icon('check-circle') }}',
        disabledIcon = '{{ icon('times-circle') }}'
        loaderHtml = '<div class="progress progress-striped active"><div class="progress-bar" style="width: 100%;"></div></div>';

    $('#payment-method-tabs a').on('click', function (e) {
        e.preventDefault();

        var $this = $(this),
            method = $this.data('method'),
            url = Routing.generate('_payment_method_settings', {'method' : method}),
            link = $('#' + $this.attr('aria-controls')),
            pane = $(this),
            iconDiv = $this.find('.icon')
            originalIcon = iconDiv.html(),
            applyFormEvent = function () {

                $.material.init();

                link.find('form').on('submit', function (event) {
                    event.preventDefault();
                    link.html(loaderHtml);

                    $.ajax({
                        "url" : url,
                        "data" : $(this).serialize(),
                        "method" : "post"
                    }).success(function (response) {
                        $('.tab-pane').empty();
                        link.html(response.content);
                        applyFormEvent();

                        if ($('#payment_methods_enabled').is(':checked')) {
                            iconDiv.html(enabledIcon);
                        } else {
                            iconDiv.html(disabledIcon);
                            iconDiv.html(disabledIcon);
                        }
                    });
                });
            };

        iconDiv.html(spinIcon);

        link.html(loaderHtml);

        $.ajax({"url" : url})
        .success(function (response) {
            $('.tab-pane').empty();
            link.html(response.content);
            iconDiv.html(originalIcon);
            pane.tab('show');

            applyFormEvent();
        });
    });

    $('#payment-method-tabs a').first().trigger('click');
{% endblock %}
