{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'CSBillInstallBundle::layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>
                    {{ icon('database') }} {{ 'installation.config.title.database_config'|trans }}
                </legend>
                {{ form_row(form.database_config) }}
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>
                    {{ icon('envelope-o') }} {{ 'installation.config.title.email_settings'|trans }}
                </legend>
                {{ form_row(form.email_settings.transport) }}
                <div id="smtp_settings" style="display: none">
                    {{ form_row(form.email_settings.host) }}
                    {{ form_row(form.email_settings.port) }}
                    {{ form_row(form.email_settings.encryption) }}
                    {{ form_row(form.email_settings.user) }}
                    {{ form_row(form.email_settings.password) }}
                </div>
            </fieldset>
        </div>
    </div>

    <div class="control-group pull-right" id="next_button">
        <button type="submit" class="btn btn-success">
            {{ "installation.action.next"|trans }} {{ icon('arrow-right') }}
        </button>
    </div>
    <br class="clear" />

    {{ form_end(form) }}
{% endblock %}

{% block script %}
    var transport = $('#config_step_email_settings_transport'),
    smtpSettings = $('#smtp_settings'),
    gmailConfig = $('#config_step_email_settings_host, #config_step_email_settings_port, #config_step_email_settings_encryption').parent('.form-group');

    transport.on('change', function () {
        var val = $(this).val();

        if ('smtp' === val) {
            showSmtpSettings();
        } else if ('gmail' === val) {
            showGmailSettings();
        } else if (smtpSettings.is(':visible')) {
            hideSettings();
        }
    });

    function showSmtpSettings()
    {
        gmailConfig.show()
        smtpSettings.show();
    }

    function showGmailSettings()
    {
        smtpSettings.show();
        gmailConfig.hide();
    }

    function hideSettings()
    {
        smtpSettings.hide();
        gmailConfig.show();
    }

    {% set value = form.email_settings.transport.vars.value %}

    {% if value == 'smtp' %}
        showSmtpSettings();
    {% elseif value == 'gmail' %}
        showGmailSettings();
    {% endif %}
{% endblock %}
