{% extends "CSBillInstallBundle::layout.html.twig" %}

{% block content %}

    <fieldset>
        <form action="{{ path('sylius_flow_forward', {'scenarioAlias': 'sylius_flow', 'stepName': 'second'}) }}" method="post">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="widget">

                        {{ form(form) }}

                        {#{% if not is_first_install_step() %}#}
                            <div class="control-group pull-left" id="restart_button">
                                <a href="{{ path('sylius_flow_forward', {'scenarioAlias': 'sylius_flow', 'stepName': 'second'}) }}" class="btn btn-warning" title="{{ "installation.action.restart_process"|trans }}">
                                    {{ icon('undo') }} {{ "installation.action.restart"|trans }}
                                </a>
                            </div>
                        {#{% endif %}#}

                        <div class="control-group pull-right" id="next_button">
                            <button type="submit" class="btn btn-success">
                                {{ "installation.action.next"|trans }} {{ icon('arrow-right') }}
                            </button>
                        </div>
                        <br class="clear" />
                    </div>
                </div>
            </div>
        </form>
    </fieldset>

    {#<h1>Welcome to First step</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form) }}
    <input type="submit">
    {{ form_end(form) }}
    <a href="{{ path('sylius_flow_forward', {'scenarioAlias': 'sylius_flow', 'stepName': 'second'}) }}" class="btn btn-success">forward <i class="icon-forward icon-white"></i></a>#}
{% endblock %}