{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block title %}{{ 'clients'|trans }}{% endblock title %}

{% block heading %}
    <fieldset class="page-heading">
        <legend>
            <div class="pull-right header-button">
                <a class="btn btn-info" href="{{ path("_clients_add") }}">
                    {{ icon('user') }} {{ "client_create"|trans }}
                </a>
            </div>
            <h3>{{ block('title') }}</h3>
        </legend>
    </fieldset>
{% endblock %}

{% block sidebar %}
    {{ menu('clients_index') }}
{% endblock sidebar %}

{% block content %}
    <div class="widget">
	{{ render_multiple_grid('active_client_grid', 'archive_client_grid', 'active_client_grid') }}
    </div>
{% endblock %}