{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{#
{% extends "CSBillDataGridBundle:Grid:default.html.twig" %}
#}

{% block title %}{{ 'clients'|trans }}{% endblock title %}

{% block heading %}
    <fieldset class="page-heading">
        <legend>
            <div class="pull-right header-button">
                <a class="btn btn-info" href="{{ path("_clients_add") }}">
                    {{ icon('user') }} {{ "client_create"|trans }}
                </a>
            </div>
            <h3>{{ block('title') }}</h3>
        </legend>
    </fieldset>
{% endblock %}

{% block sidebar %}
    {{ menu('clients_index') }}
{% endblock sidebar %}

{% block content %}
    <div class="widget">
	<div class="grid-selection">
	    <div class="pull-right">
		<div class="btn-group btn-group-sm" role="group">
		    <a href="?grid=active" class="btn btn-default disabled">
			<i class="fa fa-check"></i>
			Active
		    </a>
		    <a href="?grid=archived" class="btn btn-default">
			<i class="fa fa-archive"></i>
			Archived
		    </a>
		    <a href="?grid=deleted" class="btn btn-default">
			<i class="fa fa-times"></i>
			Deleted
		    </a>
		</div>
	    </div>
	    <br class="clear" />
	</div>

	{#{{ render_multiple_grid('client_grid', 'client_grid_archived', 'client_grid_deleted') }}#}
	{{ render_grid('active_client_grid') }}
    </div>
{% endblock %}