{#
 #
 # This file is part of the CSBill package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

{% extends "CSBillCoreBundle:Layout:three_column.html.twig" %}

{% block title %}{{ client.name }}{% endblock title %}

{% block sidebar_left %}
	{{ menu('clients_view') }}
{% endblock sidebar_left %}

{% block heading %}
	<fieldset>
		<legend>
			<h3>
				{{ client.name }} <small>{{ status_label(client.status) }}</small>
			</h3>
		</legend>
	</fieldset>
{% endblock heading %}

{% block content %}

    <div class="row-fluid">
        <div class="pull-left">
            {% if client.website %}
                <a href="{{ client.website }}" rel=external">{{ client.website }}</a>
            {% endif %}
        </div>

        <div class="pull-right">
            <a href="{{ path('_clients_edit', {'id' : client.id}) }}" class="btn"><i class="icon-edit"></i> {{ "edit"|trans }}</a>
        </div>
    </div>
	<div class="row-fluid">
		<div class="span6">
			<legend><h3>{{ "contacts"|trans }}</h3></legend>

			{% for contact in client.contacts %}
				<div class="span10 well well-small">

                    <span class="pull-right">
                        <i class="icon-user"></i>
                    </span>

					<h4>{{ contact.firstname }} {{ contact.lastname }}</h4>

					{% for contact_details in contact.details if contact_details.primary %}
						<strong>{{ contact_details.type|title }}</strong>: {{ contact_details.value }}

					{% endfor %}
				</div>
			{% endfor %}

            <div id="contacts-ajax-modal" class="modal hide fade" tabindex="-1" data-target="{{ path("_clients_add_contact", {"id" : client.id}) }}"></div>
		</div>
	</div>

{% endblock content %}

{% block sidebar_right %}

{% endblock sidebar_right %}
