{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout:three_column.html.twig" %}

{% block page_title %}
    {{ client.name }}
{% endblock page_title %}

{% block title %}
    {{ block('page_title') }} <small>{{ client_label(client.status) }}</small>
{% endblock title %}

{% block sidebar_left %}
	{{ menu('clients_view') }}
{% endblock sidebar_left %}

{% block content %}
    {% set totalAddresses = client.addresses|length %}

    <div id="client-view">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                {% if client.website %}
                    {{ icon('external-link') }} <a href="{{ client.website }}" rel=external">{{ client.website }}</a>
                {% endif %}
            </div>

            <div class="col-md-6 col-lg-6" align="right">
                <a href="{{ path('_clients_edit', {'id' : client.id}) }}" class="btn btn-warning">
                    {{ icon('edit') }} {{ "client.view.actions.edit"|trans }}
                </a>
                <a href="{{ path('_clients_delete', {'id' : client.id}) }}" class="btn btn-danger" id="delete-client">
                    {{ icon('trash-o') }} {{ "client.view.actions.delete"|trans }}
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-{{ totalAddresses > 0 ? 6 : 12 }} col-md-{{ totalAddresses > 0 ? 6 : 12 }} client_contact_list">
                <legend>
                    <h3>
                        {{ icon('users') }} {{ "client.heading.contacts"|trans }}
                    </h3>
                </legend>

                <div id="client-contacts-list">
                    {% for contact in client.contacts %}
                        {% if totalAddresses == 0 %}
                            <div class="col-lg-6 col-md-6 client_contact_list">
                        {% endif %}

                            {% include "CSBillClientBundle::contact_card.html.twig" %}

                        {% if totalAddresses == 0 %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <br class="clear" />

                    <a href="{{ path("_clients_add_contact", {"id" : client.id}) }}" class="btn btn-success add-contact-button" data-id="{{ client.id }}">
                        {{ icon('user') }} {{ "client.view.actions.add_contact"|trans }}
                    </a>
                </div>
                <div id="contacts-ajax-modal" class="modal fade" tabindex="-1"></div>
            </div>
            {% if totalAddresses > 0 %}
                <div class="col-lg-6 col-md-6">

                    <legend>
                        <h3>
                            {{ icon('building-o') }} {{ "client.heading.addresses"|trans }}
                        </h3>
                    </legend>

                    <div id="client-address-list">

                        <ul class="list-group">
                        {% for address in client.addresses %}
                            <li class="list-group-item">
                                <div class="" style="position: absolute;">
                                    {{ icon('map-marker') }}
                                </div>
                                <div style="position: relative; left: 20px;">
                                    {{ address|nl2br }}
                                </div>
                                <div class="pull-right">
                                    {{ icon('map-marker') }}
                                    <a href="http://maps.google.com/?q={{ address|replace({"\n" : " "}) }}" target="_blank">
                                        {{ 'client.address.view_map'|trans }}
                                    </a>
                                </div>
                                <br class="clear" />
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                {% include "CSBillClientBundle::invoice_list.html.twig" %}
            </div>

            <div class="col-lg-6 col-md-6">
                {% include "CSBillClientBundle::quote_list.html.twig" %}
            </div>
        </div>

        {% if payments|length > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <legend>
                        <h3>{{ 'client.heading.payments'|trans }}</h3>
                    </legend>

                    {% include "CSBillPaymentBundle:Payment:list.html.twig" with {"payments" : payments, "show_invoice" : true} only %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block sidebar_right %}
    <div class="widget">
        <div class="text-center client-actions">
            <a href="{{ path("_quotes_create", {"client" : client.id}) }}" class="btn btn-info btn-lg">
                {{ icon('file', ['text', 'o']) }} {{ "client.view.actions.create_quote"|trans }}
            </a>
            <a href="{{ path("_invoices_create", {"client" : client.id}) }}" class="btn btn-info btn-lg">
                {{ icon('file', ['text', 'o']) }} {{ "client.view.actions.create_invoice"|trans }}
            </a>
        </div>
        <hr />
        <div class="row">
            <div class="text-center text-success">
                <h3>{{ total_income|currency }}</h3>
                {{ "client.stats.income"|trans }}
            </div>
            <div class="text-center text-danger">
                <h3>{{ total_outstanding|currency }}</h3>
                {{ "client.stats.outstanding"|trans }}
            </div>
            <div class="text-center text-info">
                <h3 id="client-credit-value">
                    {{ client.credit.value|currency }}
                </h3>

                <a href="{{ path('_clients_add_credit', {'id' : client.id}) }}" rel="tooltip" title="{{ 'client.view.actions.add_credit'|trans }}" id="add-credit-button">
                    {{ icon('plus-circle') }}
                    {{ "client.stats.credit"|trans }}
                </a>

                <div id="credit-ajax-modal" class="modal fade" tabindex="-1"></div>
            </div>
        </div>
        <hr />
        <br class="clearfix" />
        <ul class="nav nav-list">
            <li>
                <span rel="tooltip" title="{{ "client.stats.tooltip.total_quotes"|trans }}" class="badge">
                    {{ client.quotes|length }}
                </span>
                {{ "client.stats.number_quotes"|transchoice(client.quotes|length) }}
            </li>
            <li>
                <span rel="tooltip" title="{{ "client.stats.tooltip.total_invoices"|trans }}" class="badge">
                    {{ client.invoices|length }}
                </span>
                {{ "client.stats.number_invoices"|transchoice(client.invoices|length) }}
            </li>
            <li class="divider"></li>
            <li>
                <span class="badge" rel="tooltip" title="{{ "client.stats.tooltip.total_outstanding"|trans }}">
                    {{ total_invoices_pending }}
                </span>
                {{ "client.stats.outstanding_invoices"|trans }}
            </li>
            <li>
                <span class="badge" rel="tooltip" title="{{ "client.stats.tooltip.total_paid"|trans }}">
                    {{ total_invoices_paid }}
                </span>
                {{ "client.stats.paid_invoices"|trans }}
            </li>
        </ul>
    </div>
{% endblock sidebar_right %}
