{#
 #
 # This file is part of the CSBill package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

{% form_theme form _self %}

{% use 'CSCoreBundle:Form:fields.html.twig' %}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block title %}{{ "Create Quote"|trans }}{% endblock %}

{% block sidebar %}
    {{ menu('quotes_create') }}
{% endblock sidebar %}

{% set items = form.items.vars.prototype|keys %}

{% block form_row %}
    {% if prototype is not defined %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <form {{ form_enctype(form) }} action="{{ path(app.request.get('_route')) }}" method="post" id="quote-create-form">
        {{ form_errors(form) }}
        <div class="row-fluid">
            <div class="span6">
                {{ form_row(form.client) }}

                <div id="{{ form.client.vars.id }}-container">
                    {% if form.client.vars.data %}
                        {% include "CSBillClientBundle:Ajax:info.html.twig" with {'client' : form.client.vars.data, 'form' : form} %}
                    {% endif %}
                </div>
            </div>
            <div class="span6">
                {{ form_row(form.status) }}
                {{ form_row(form.discount) }}
            </div>
        </div>

        <div class="row-fluid">
            <table id="quote-rows" class="table">
                <thead>
                    <tr>
                        {% for item in items %}
                            <th>{{ item|trans|title }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>

                    {% for item in form.items %}
                        <tr>
                            {% for key,field in item.children|keys %}
                                <td>
                                    {% set error = form_errors(item[field]) %}

                                    {% if error|trim is not empty %}
                                        <div class="control-group error">
                                            {{ form_widget(item[field]) }}
                                            {{ error|raw }}
                                        </div>
                                    {% else %}
                                        {{ form_widget(item[field]) }}
                                    {% endif %}
                                    <br />
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" align="right" style="text-align:right">
                            <strong>Sub-Total</strong>
                        </td>
                        <td colspan="2" align="left">
                            <div class="quote-sub-total"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" align="right" style="text-align:right">
                            <strong>Discount</strong>
                        </td>
                        <td colspan="2" align="left">
                            <span class="text-error quote-discount"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" align="right" style="text-align:right">
                            <strong>Total</strong>
                        </td>
                        <td colspan="2" align="left">
                            <div class="quote-total"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="row-fluid">
            <a href="#" class="add-item"><i class="icon-plus-sign"></i> {{ "Add Item"|trans }}</a>
        </div>

        {{ form_rest(form) }}

        <div class="row-fluid form-actions">
            <div class="span2">
                <button type="submit" class="btn btn-success" name="save" value="send">{{ "Save and Send"|trans }}</button>
            </div>
            <div class="span2">
                <button type="submit" class="btn btn-primary" name="save" value="draft"}>{{ "Save as Draft"|trans }}</button>
            </div>
        </div>
    </form>
{% endblock content %}

{% block script %}
{% spaceless %}
    <script type="text/javascript">

        {% if form.client.vars.data %}
            $('#{{ form.client.vars.id }}').parents('div.control-group').hide();
        {% endif %}

        $('#{{ form.client.vars.id }}').on('change', function(){
            var client_select = $(this).parents('div.control-group'),
                client_id = $(':selected', this).val();

            // TODO : show ajax loader
            $('#{{ form.client.vars.id }}-container').load(Routing.generate('_clients_info', {"id" : client_id}), function(a) {
                client_select.hide();
            });
        });

        $('#quote-create-form').on('click', '.client-select-change', function(evt) {
            evt.preventDefault();
            $('#{{ form.client.vars.id }}-container').html('');
            $('#{{ form.client.vars.id }}').parents('div.control-group').show();
        });

        Quote.setSelector($('#quote-rows'));
        {% for item in items %}
            {% set field = form.items.vars.prototype[item] %}
            Quote.addTemplate('{{ item }}', '{{ form_widget(field) }}');
            Quote.addField("{{ item }}");
        {% endfor %}

        Quote.addTemplate('trash', '<a href="#" class="remove-item" rel="tooltip" title="Remove Item"><i class="icon-trash"></i></a>');
        Quote.addField("trash");

        {% if form.items|length == 0 %}
            Quote.addRow();
        {% endif %}
    </script>
{% endspaceless %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
       "@CSBillQuoteBundle/Resources/public/js/quotes.js"
       filter="?yui_js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
