{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% form_theme form _self %}

{% use 'CSBillCoreBundle:Form:fields.html.twig' %}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block page_title %}{{ "quote.create"|trans }}{% endblock %}

{% block sidebar %}
    {{ menu('quotes_create') }}
{% endblock sidebar %}

{% set items = form.items.vars.prototype|keys %}

{% block form_row %}
    {% if prototype is not defined %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr' : {'id' : 'quote-create-form'} }) }}

    {{ form_errors(form) }}

    <div class="widget" id="quote-create">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">
                        {% if quote is defined %}
                            <h2>{{ 'quote.title'|trans({'%id%' : quote.id}) }}</h2>
                        {% else %}
                            <h2>{{ 'quote'|trans }}</h2>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            {{ block('form_client') }}
                        </div>
                        <div class="col-xs-6 text-right">
                            {{ block('form_discount') }}
                        </div>
                    </div>
                </div>
            </div>

            {{ block('form_items') }}

            <a href="#" class="add-item col-lg-2">{{ icon('plus', ['circle']) }} {{ "quote.item.add"|trans }}</a>

        </div>

        <br class="clear"/>

        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.terms) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.notes) }}
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="form-actions">
            {{ block('form_buttons') }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock content %}

{% block form_client %}
    {{ form_row(form.client) }}

    <div id="{{ form.client.vars.id }}-container">
        {% if form.client.vars.data %}
            {% include "CSBillClientBundle:Ajax:info.html.twig" with {'client' : form.client.vars.data, 'form' : form} %}
        {% endif %}
    </div>
{% endblock form_client %}

{% block form_discount %}
    {{ form_row(form.discount) }}
{% endblock form_discount %}

{% block form_items %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>{{ 'quote.summary'|trans }}</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">

                        <table id="quote-rows" class="table table-condensed">
                            <thead>
                                <tr>
                                    {% for item in items %}
                                        <th>{{ item|trans|title }}</th>
                                    {% endfor %}
                                    <th class="text-right">{{ 'quote.total'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in form.items %}
                                    <tr>
                                        {% for key, field in item.children|keys %}
                                            <td class="column-{{ field }}">
                                                {% set error = form_errors(item[field]) %}

                                                {% if error|trim is not empty %}
                                                    <div class="form-group has-error">
                                                        {{ form_widget(item[field]) }}
                                                        {{ error|raw }}
                                                    </div>
                                                {% else %}
                                                    {{ form_widget(item[field]) }}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        <td class="column-total">
                                            {{ 0|currency }}
                                        </td>
                                        <td>
                                            <a href="#" class="remove-item" rel="tooltip" title="{{ 'quote.item.remove'|trans }}">{{ icon('trash', ['o']) }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center"><strong>{{ 'quote.subtotal'|trans }}</strong></td>
                                    <td class="thick-line text-right">
                                        <div class="quote-sub-total"></div>
                                    </td>
                                </tr>
                                {% if form.tax is defined %}
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center"><strong>{{ 'quote.tax'|trans }}</strong></td>
                                        <td class="no-line text-right">
                                            <span class="text-error quote-tax"></span>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>{{ 'quote.discount'|trans }}</strong></td>
                                    <td class="no-line text-right">
                                        <span class="text-success quote-discount"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>{{ 'quote.total'|trans }}</strong></td>
                                    <td class="no-line text-right">
                                        <div class="quote-total"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock form_items %}

{% block form_buttons %}
    <div class="pull-left">
        <button type="submit" class="btn btn-success" name="save" value="send">
            {{ icon('envelope', ['o']) }} {{ "quote.save.send"|trans }}
        </button>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-primary" name="save" value="draft">
            {{ icon('save') }} {{ "quote.save.draft"|trans }}
        </button>
    </div>

    <br class="clear" />
{% endblock form_buttons %}

{% block script %}
{% spaceless %}
    {% if form.client.vars.data %}
        $('#{{ form.client.vars.id }}').parents('div.form-group').hide();
    {% endif %}

    var clientSelect = $('#{{ form.client.vars.id }}');

    clientSelect.on('change', function(){

        $('body').modalmanager('loading');

        var clientSelectContainer = $(this).closest('div.form-group'),
            client_id = $(':selected', this).val();

        $.getJSON(Routing.generate('_clients_info', {"id" : client_id, "type" : "quote"}), function(data) {
            $('#{{ form.client.vars.id }}-container').html(data.content);
            $('body').modalmanager('loading');
            clientSelectContainer.hide();
        });
    });

    $('#quote-create-form').on('click', '.client-select-change', function(evt) {
        evt.preventDefault();
        $('#{{ form.client.vars.id }}-container').html('');
        clientSelect.closest('div.form-group').show();
        clientSelect.val('');
        clientSelect.trigger('select2-selecting');
    });

    Quote.setSelector($('#quote-rows'));

    {% for item in items %}
        {% set field = form.items.vars.prototype[item] %}
        Quote.addTemplate('{{ item }}', '{{ form_widget(field) }}');
        Quote.addField("{{ item }}");
    {% endfor %}

    Quote.addTemplate('total', accounting.formatMoney(0));
    Quote.addTemplate('trash', '<a href="#" class="remove-item" rel="tooltip" title="Remove Item">{{ icon('trash', ['o']) }}</a>');
    Quote.addField("total");
    Quote.addField("trash");

    {% if form.items|length == 0 %}
        Quote.addRow();
    {% endif %}

{% endspaceless %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
       "@CSBillQuoteBundle/Resources/public/js/quotes.js"
       filter="?yui_js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
