{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout:three_column.html.twig" %}

{% block title %}{{ "quote.list.title"|trans }}{% endblock %}

{% block sidebar_left %}
    {{ menu('quotes_index') }}
{% endblock sidebar_left %}

{% block content %}
    <div class="widget">
	{{ render_multiple_grid('active_quote_grid', 'archive_quote_grid') }}
    </div>

    <h5>{{ "quote.list.status_legend"|trans }}</h5>

    {% for status in quote_label() %}
	{{ status|raw }}
    {% endfor %}
{% endblock content %}

{% block sidebar_right %}
    <div class="well well-small right-nav">
        <a class="btn btn-md btn-info action-button" href="{{ path("_quotes_create") }}">
            {{ icon('file', ['text', 'o']) }} {{ "quote.create"|trans }}
        </a>

        <ul class="nav nav-list">
            {% for status, count in status_list_count %}
                <li>
                    <label class="badge">
                        {{ count }}
                    </label>

                    {{ ('quote.stats.count.' ~ status)|transchoice(count) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock sidebar_right %}
