{#
 #
 # This file is part of the CSBill package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block title %}{{ "Quote #%id"|trans|replace({"%id" : quote.id}) }} {{ quote.status|raw }}{% endblock %}

{% block sidebar %}
    {{ menu('quotes_view') }}
{% endblock sidebar %}


{% block content %}

    {# TODO : add toolbar #}
    <div class="row-fluid">
        <div class="pull-right">
            <div class="btn-toolbar">
                <div class="btn-group">
                    {% if quote is pending or quote is draft %}
                        <a href="{{ path('_accept_quote', {'id' : quote.id}) }}" class="btn btn-success">{{ "Accept"|trans }}</a>
                    {% endif %}

                    {% if quote is not accepted and quote is not declined and quote is not cancelled %}
                        <a href="{{ path('_decline_quote', {'id' : quote.id}) }}" class="btn btn-danger">{{ "Decline"|trans }}</a>
                    {% endif %}
                </div>
                <div class="btn-group">
                    <a href="{{ path('_send_quote', {'id' : quote.id}) }}" class="btn btn-info">{{ "Send"|trans }}</a>
                </div>

                {% if quote is draft or quote is pending %}
                    <div class="btn-group">
                        <a href="{{ path('_cancel_quote', {'id' : quote.id}) }}" class="btn btn-inverse">{{ "Cancel"|trans }}</a>
                    </div>
                {% endif %}

                <div class="btn-group">
                    <a href="{{ path('_quotes_edit', {'id' : quote.id}) }}" class="btn">{{ "Edit"|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        {% include "CSBillQuoteBundle::quote_template.html.twig" %}
    </div>
{% endblock content %}
