{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block page_title %}
    {{ "Quote #%id"|trans|replace({"%id" : quote.id}) }}
{% endblock page_title %}
{% block title %}
    {{ block('page_title') }} <small>{{ status_label(quote.status) }}</small>
{% endblock title %}

{% block sidebar %}
    {{ menu('quotes_view') }}
{% endblock sidebar %}

{% block content %}
    {# TODO : add toolbar #}
    <div class="pull-right">
        <div class="btn-toolbar">
            <div class="btn-group">
                {% if quote is pending or quote is draft %}
                    <a href="{{ path('_accept_quote', {'id' : quote.id}) }}" class="btn btn-success">{{ "Accept"|trans }}</a>
                {% endif %}

                {% if quote is not accepted and quote is not declined and quote is not cancelled %}
                    <a href="{{ path('_decline_quote', {'id' : quote.id}) }}" class="btn btn-danger">{{ "Decline"|trans }}</a>
                {% endif %}
            </div>
            <div class="btn-group">
                <a href="{{ path('_send_quote', {'id' : quote.id}) }}" class="btn btn-info">{{ icon('envelope-o') }} {{ "Send"|trans }}</a>
            </div>

            {% if quote is draft or quote is pending %}
                <div class="btn-group">
                    <a href="{{ path('_cancel_quote', {'id' : quote.id}) }}" class="btn btn-warning">{{ "Cancel"|trans }}</a>
                </div>
            {% endif %}

            <div class="btn-group">
                <a href="{{ path('_quotes_edit', {'id' : quote.id}) }}" class="btn btn-default">{{ "Edit"|trans }}</a>
            </div>
        </div>
    </div>

    {% include "CSBillQuoteBundle::quote_template.html.twig" with {'link_client' : true} %}

    {% if quote.notes is not empty %}

        <br class="clear" />
        <div>
            <strong>{{ 'notes'|trans }}</strong>
            <p>
                {{ quote.notes }}
            </p>
        </div>
    {% endif %}
{% endblock content %}
