<div class="alert alert-warning">
    <strong>{{ icon('exclamation-triangle') }} {{ 'profile.api.history.last_calls_shown_note'|trans }} </strong>
    {{ 'profile.api.history.last_calls_shown'|trans }}
</div>
<ul class="list-group">
    {% for item in history %}
        <li class="list-group-item">
            <dl class="dl-horizontal">
                <dt>{{ 'profile.api.history.list.date'|trans }}</dt>
                <dd>{{ item.created|date }}</dd>

                <dt>{{ 'profile.api.history.list.ip'|trans }}</dt>
                <dd>{{ item.ip }}</dd>

                <dt>{{ 'profile.api.history.list.resource'|trans }}</dt>
                <dd>[{{ item.method }}] {{ item.resource }}</dd>

                <dt>{{ 'profile.api.history.list.user_agent'|trans }}</dt>
                <dd>{{ item.userAgent }}</dd>
            </dl>
        </li>
    {% endfor %}
</ul>
