{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'APYDataGridBundle::blocks.html.twig' %}

{# ------------------------------------------------------ grid ------------------------------------------------------ #}
{% block grid %}
    <div class="grid">
        {% if grid.totalCount > 0 or grid.filtered or grid.noDataMessage is sameas(false) %}
            <form id="{{ grid.hash }}" action="{{ grid.routeUrl }}" method="post">
                <div class="grid_body">
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm" role="group">
                            {# TODO: This needs to be active links that shows the relevant grids #}
                            <a href="#" class="btn btn-default disabled">
                                {{ icon('check') }} Active
                            </a>

                            <a href="#" class="btn btn-default">
                                {{ icon('archive') }} Archived
                            </a>

                            <a href="#" class="btn btn-default">
                                {{ icon('times') }} Deleted
                            </a>
                        </div>
                    </div>

                    {% if grid.massActions|length > 0 %}
                        <input type="hidden" id="{{ grid.hash }}_mass_action_all" name="{{ grid.hash }}[{{ constant('APY\\DataGridBundle\\Grid\\Grid::REQUEST_QUERY_MASS_ACTION_ALL_KEYS_SELECTED') }}]" value="0"/>
                    {% endif %}

                    <br class="clear" />

                    <div class="rows">
                        <div class="panel panel-primary filterable">
                            <div class="panel-heading">

                                <h3 class="panel-title">
                                    {% if grid.massActions|length > 0 %}
                                        {% for key, massAction in grid.massActions %}
                                            <button{% if massAction.confirm %} onclick="return confirm('{{ massAction.confirmMessage }}')"{% endif %} type="submit" value="{{ key }}" class="btn btn-{{ massAction.class }} btn-xs" name="{{ grid.hash }}[{{ constant('APY\\DataGridBundle\\Grid\\Grid::REQUEST_QUERY_MASS_ACTION') }}]">
                                                {% if massAction.icon is not empty %}
                                                    {{ icon(massAction.icon) }}
                                                {% endif %}

                                                {{ massAction.title|trans }}
                                            </button>
                                        {% endfor %}
                                    {% endif %}
                                    {% if grid.filterable %}
                                        <div class="pull-right">
                                            <div class="dropdown">
                                                <button class="btn btn-default btn-xs btn-filter dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                    {% if grid.filters.filterActive %}
                                                        <span class="text-danger">
                                                            {{ icon('filter') }}
                                                        </span>
                                                    {% else %}
                                                        {{ icon('filter') }}
                                                    {% endif %}
                                                    {{ 'Filter'|trans }}
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                                    {% for filter in grid.filters %}
                                                        <li role="presentation"{% if filter.active %} class="active"{% endif %}>
                                                            <a role="menuitem" tabindex="-1" href="{{ path(app.request.get('_route'), query|merge({'filter' : filter.name})) }}">
                                                                {{ filter|trans }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}

                                                    {% if grid.filters.filterActive %}
                                                        <li role="presentation">
                                                            <a role="menuitem" tabindex="-1" href="{{ path(app.request.get('_route'), query|merge({'filter' : null})) }}">
                                                                {{ 'Reset'|trans }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        <br class="clearfix" />
                                    {% endif %}
                                </h3>
                            </div>
                            {% if grid.searchable %}
                                <div class="panel-body">
                                    <div class="input-group">
                                        {% if grid.searchActive %}
                                            <span class="input-group-btn">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="grid-search-reset btn btn-warning" onclick="return {{ grid.hash }}_reset();">
                                                        {{ icon('times') }}
                                                        {{ 'Reset'|trans }}
                                                    </button>
                                                </div>
                                            </span>
                                        {% endif %}
                                        <input name="search" placeholder="{{ 'search'|trans }}" type="text" id="search" class="form-control" value="{{ grid.searchString }}" />
                                        <span class="input-group-btn">
                                            <div class="btn-group" role="group">
                                                <button type="submit" class="btn btn-default">
                                                    {{ icon('search') }}
                                                    {{ 'search'|trans }}
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                            <table class="table table-bordered table-striped table-hover">
                                {% if grid.isTitleSectionVisible %}
                                    {{ grid_titles(grid) }}
                                {% endif %}

                                {#{% if grid.isFilterSectionVisible %}
                                    {{ grid_filters(grid) }}
                                {% endif %}#}

                                {{ grid_rows(grid) }}
                            </table>
                        </div>
                    </div>
                </div>

                <span class="mass-actions-selected" id="{{ grid.hash }}_mass_action_selected"></span>

                <div class="grid_footer">
                    {% if grid.isPagerSectionVisible %}
                        {{ grid_pager(grid) }}
                    {% endif %}

                    {% if grid.exports|length > 0 %}
                        {{ grid_exports(grid) }}
                    {% endif %}

                    {% if grid.tweaks|length > 0 %}
                        {{ grid_tweaks(grid) }}
                    {% endif %}
                </div>

                {% if withjs %}
                    {{ grid_scripts(grid) }}
                {% endif %}

            </form>
        {% else %}
            {{ grid_no_data(grid) }}
        {% endif %}
    </div>
{% endblock grid %}

{# -------------------------------------------------- grid_search -------------------------------------------------- #}
{% block grid_search %}
    {% if grid.isFilterSectionVisible %}
        <div class="grid-search" id="{{ grid.hash }}_grid_search">
            <form id="{{ grid.hash }}_search" action="{{ grid.routeUrl }}" method="post" class="form-inline" role="form">
                <div class="control-group">
                    {% for column in grid.columns %}
                        {% if column.visible(true) and column.isFilterable %}
                            {% set columnTitle = grid.prefixTitle ~ column.title %}
                            {% if column.filterable %}
                                <div class="{{ cycle(['odd', 'even'], loop.index) }}">
                                    <div class="controls">
                                        <label class="control-label">{{ columnTitle|trans }}</label>
                                        {{ grid_filter(column, grid, false)|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <div class="grid-search-action">
                        <a href="#" class="grid-search-submit btn btn-info" onclick="$('#{{ grid.hash }}_search').submit()">{{ icon('search') }} {{ 'Search'|trans }}</a>
                        <input type="button" class="grid-search-reset btn btn-warning" value="{{ 'Reset'|trans }}" onclick="return {{ grid.hash }}_reset();"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="grid-simple-search">{{ 'Simple Search'|trans  }}</a>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock grid_search %}

{# -------------------------------------------- grid_column_filter_type_massaction --------------------------------------- #}
{% block grid_column_filter_type_massaction %}
    <input type="button" class="grid-search-reset form-control" value="R" title="{{ 'Reset'|trans }}" onclick="return {{ grid.hash }}_reset();"/>
{% endblock grid_column_filter_type_massaction %}

{# ------------------------------------------------ grid_column_actions_cell --------------------------------------------- #}
{% block grid_column_actions_cell %}
    {% set actions = column.getActionsToRender(row) %}

    <div class="dropdown">
        <button class="btn btn-default btn-xs btn-filter dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <i class="caret"></i>
            {{ 'Actions'|trans }}
        </button>
        <ul class="grid-row-actions dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
            {% for action in actions %}
                <li>
                    <a href="{{ url(action.route, column.routeParameters(row, action), false) }}" target="{{ action.target }}"{% if action.confirm %} onclick="return confirm('{{ action.confirmMessage }}')"{% endif %}{% for name, value in action.attributes %} {{ name }}="{{ name == 'title' ? value|trans : value }}" {% endfor %}>
                        {% if action.icon is not empty %}
                            {{ icon(action.icon) }}
                        {% endif %}
                        {{ action.title|trans|raw }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock grid_column_actions_cell %}

{# -------------------------------------------- grid_column_operator --------------------------------------- #}
{% block grid_column_operator %}
    {% if column.operatorsVisible %}
        <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for operator in column.operators %}
                    <li><a href="#{{ operator }}">{{ operator |trans }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock grid_column_operator %}


{# -------------------------------------------------- grid_filters -------------------------------------------------- #}
{% block grid_filters %}
    <tr class="grid-row-filters">
        {% for column in grid.columns %}
            {% if column.visible(grid.isReadyForExport) %}
                <th class="{% if column.class %}{{ column.class }}{% endif %}{% if loop.last %} last-column{% endif %}"{% if(column.size > -1) %} style="width:{{ column.size }}px;"{% endif %}>
                    {% if column.filterable %}
                        <div class="input-group">
                            {{ grid_filter(column, grid)|raw }}
                        </div>
                    {% endif %}
                </th>
            {% endif %}
        {% endfor %}
    </tr>
{% endblock grid_filters %}

{# -------------------------------------------- grid_column_filter_type_input --------------------------------------- #}
{% block grid_column_filter_type_input %}
    {% set btwOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_BTW') %}
    {% set btweOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_BTWE') %}
    {% set isNullOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_ISNULL') %}
    {% set isNotNullOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_ISNOTNULL') %}
    {% set op = column.data.operator is defined ? column.data.operator : column.defaultOperator %}
    {% set from = column.data.from is defined ? column.data.from : null %}
    {% set to = column.data.to is defined ? column.data.to : null %}

    {{ grid_column_operator(column, grid, op, submitOnChange) }}

    <input type="{{ column.inputType }}" value="{{ from }}" class="grid-filter-input-query-from form-control" name="{{ grid.hash }}[{{ column.id }}][from]" id="{{ grid.hash }}__{{ column.id }}__query__from" {% if submitOnChange is sameas(true) %}onkeypress="return {{ grid.hash }}_submitForm(event, this.form);"{% endif%} {{ ( op == isNullOperator or op == isNotNullOperator ) ? 'style="display: none;" disabled="disabled"' : '' }} />
    <input type="{{ column.inputType }}" value="{{ to }}" class="grid-filter-input-query-to form-control" name="{{ grid.hash }}[{{ column.id }}][to]" id="{{ grid.hash }}__{{ column.id }}__query__to" {% if submitOnChange is sameas(true) %}onkeypress="return {{ grid.hash }}_submitForm(event, this.form);"{% endif%} {{ ( op == btwOperator or op == btweOperator ) ? '': 'style="display: none;" disabled="disabled"' }} />

</span>
{% endblock grid_column_filter_type_input %}
{# -------------------------------------------- grid_column_filter_type_select --------------------------------------- #}
{% block grid_column_filter_type_select %}
    {% set btwOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_BTW') %}
    {% set btweOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_BTWE') %}
    {% set isNullOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_ISNULL') %}
    {% set isNotNullOperator = constant('APY\\DataGridBundle\\Grid\\Column\\Column::OPERATOR_ISNOTNULL') %}
    {% set op = column.data.operator is defined ? column.data.operator : column.defaultOperator %}
    {% set from = column.data.from is defined ? column.data.from : null %}
    {% set to = column.data.to is defined ? column.data.to : null %}
    {% set multiple = column.selectMulti %}
    {% set expanded = column.selectExpanded %}
    <span class="grid-filter-select">
    {{ grid_column_operator(column, grid, op, submitOnChange) }}
        <span class="grid-filter-select-query">
    {% if expanded %}
        <span class="grid-filter-select-query-from" id="{{ grid.hash }}__{{ column.id }}__query__from" {{ ( op == isNullOperator or op == isNotNullOperator ) ? 'style="display: none;" disabled="disabled"' : '' }}>
        {% for key, value in column.values %}
            <span><input type="{% if multiple %}checkbox{% else %}radio{% endif %}" name="{{ grid.hash }}[{{ column.id }}][from][]" value="{{ key }}" {% if key in from %} checked="checked"{% endif %} {% if submitOnChange is sameas(true) %}onclick="return {{ grid.hash }}_submitForm(event, this.form);"{% endif%}/><label>{{ value }}</label></span>
        {% endfor %}
        </span>
        <span class="grid-filter-select-query-to" id="{{ grid.hash }}__{{ column.id }}__query__to" {{ ( op == btwOperator or op == btweOperator ) ? '': 'style="display: none;" disabled="disabled"' }}>
        {% for key, value in column.values %}
            <span><input type="{% if multiple %}checkbox{% else %}radio{% endif %}" name="{{ grid.hash }}[{{ column.id }}][to]" value="{{ key }}" {% if not to is null and to == key %} checked="checked"{% endif %} {% if submitOnChange is sameas(true) %}onclick="return {{ grid.hash }}_submitForm(event, this.form);"{% endif%}/><label>{{ value }}</label></span>
        {% endfor %}
        </span>
        {% if multiple %}<input type="submit" value="{{ 'Go'|trans }}" />{% endif %}
    {% else %}
        <select{% if multiple %} multiple="multiple"{% endif %} name="{{ grid.hash }}[{{ column.id }}][from][]" class="grid-filter-select-query-from form-control" id="{{ grid.hash }}__{{ column.id }}__query__from" {% if submitOnChange is sameas(true) %}onchange="return {{ grid.hash }}_submitForm(event, this.form);"{% endif%} {{ ( op == isNullOperator or op == isNotNullOperator ) ? 'style="display: none;" disabled="disabled"' : '' }}>
            <option value="">&nbsp;</option>
            {% for key, value in column.values %}
                <option value="{{ key }}"{% if key in from %} selected="selected"{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <select name="{{ grid.hash }}[{{ column.id }}][to]" class="grid-filter-select-query-to form-control" id="{{ grid.hash }}__{{ column.id }}__query__to" {% if submitOnChange is sameas(true) %}onchange="return {{ grid.hash }}_submitForm(event, this.form);"{% endif%} {{ ( op == btwOperator or op == btweOperator ) ? '': 'style="display: none;" disabled="disabled"' }}>
            <option value="">&nbsp;</option>
            {% for key, value in column.values %}
                <option value="{{ key }}"{% if not to is null and to == key %} selected="selected"{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        {% if multiple %}<input type="submit" value="{{ 'Go'|trans }}" />{% endif %}
    {% endif %}
    </span>
</span>
{% endblock grid_column_filter_type_select %}

{# --------------------------------------------------- grid_titles -------------------------------------------------- #}
{% block grid_titles %}
    <tr class="grid-row-titles">
        {% for column in grid.columns %}
            {% if column.visible(grid.isReadyForExport) %}
                <th class="{% if column.align != 'left'%}align-{{ column.align }}{% endif %}{% if column.class %} {{ column.class }}{% endif %}{% if loop.last %} last-column{% endif %}"{% if(column.size > -1) %} style="width:{{ column.size }}px;"{% endif %}>
                    {%- spaceless %}
                        {% if column.type == 'massaction' %}
                            <div class="btn-group dropdown">
                                <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <input type="checkbox" class="grid-mass-selector" />
                                    <i class="caret"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" onclick="return {{ grid.hash }}_markVisible(true);">{{ 'Select visible'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="return {{ grid.hash }}_markVisible(false);">{{ 'Deselect visible'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="return {{ grid.hash }}_markAll(true);">{{ 'Select all'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="return {{ grid.hash }}_markAll(false);">{{ 'Deselect all'|trans }}</a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            {% set columnTitle = grid.prefixTitle ~ column.title ~ '__abbr' %}
                            {% if columnTitle|trans == columnTitle %}
                                {% set columnTitle = grid.prefixTitle ~ column.title %}
                            {% endif %}
                            {% if (column.sortable) %}
                                <a class="order" href="{{ grid_url('order', grid, column) }}" title="{{ 'Order by'|trans }} {{ columnTitle|trans }}">{{ columnTitle|trans }}</a>
                                {% if column.order == 'asc' %}
                                    <div class="sort_up"></div>
                                {% elseif column.order == 'desc' %}
                                    <div class="sort_down"></div>
                                {% endif %}
                            {% else %}
                                {{ columnTitle|trans }}
                            {% endif %}
                        {% endif %}
                    {% endspaceless -%}
                </th>
            {% endif %}
        {% endfor %}
    </tr>
{% endblock grid_titles %}