{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceCore/Layout/default.html.twig' %}

{% block page_title %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block title %}
    {{ icon('dashboard') }} {{ block('page_title') is defined ? block('page_title') }}
{% endblock %}

{% block content %}
    <div class="widget my-3">
        <div class="row">
            {{ render_dashboard_widget('top') }}
        </div>
        <div class="row">
            {{ render_dashboard_widget('left_column') }}
            {{ render_dashboard_widget('right_column') }}
        </div>
    </div>
{% endblock content %}
