{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceCore/Layout/default.html.twig' %}

{% block page_title %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block title %}
    {{ icon('dashboard') }} {{ block('page_title') is defined ? block('page_title') }}

    <div class="float-right">
        <div class="btn-group">
            <button class="btn btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                {{ icon('plus') }} {{ 'dashboard.create.new'|trans }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="nav-item">
                    <a href="{{ path('_clients_add') }}" class="nav-link">
                        {{ icon('user-plus') }} {{ 'dashboard.create.client'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('_quotes_create') }}" class="nav-link">
                        {{ icon('file-text-o') }} {{ 'dashboard.create.quote'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('_invoices_create') }}" class="nav-link">
                        {{ icon('file-text-o') }} {{ 'dashboard.create.invoice'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="widget my-3">
        <div class="row">
            {{ render_dashboard_widget('top') }}
        </div>
        <div class="row">
            {{ render_dashboard_widget('left_column') }}
            {{ render_dashboard_widget('right_column') }}
        </div>
    </div>
{% endblock content %}
