<tr>
    <td colspan="{{ternary hasTax 4 3 }}" class="thick-line text-right"><strong>{{trans 'billing.subtotal' }}</strong></td>
    <td class="thick-line text-right">
        <div class="sub-total">
            {{currency subTotal }}
        </div>
    </td>
    <td class="thick-line">
    </td>
</tr>
{{#if hasTax}}
    <tr>
        <td colspan="{{ternary hasTax 4 3 }}" class="no-line text-right"><strong>{{trans 'billing.tax' }}</strong></td>
        <td class="no-line text-right">
            <span class="tax">
                {{currency tax }}
            </span>
        </td>
        <td class="no-line">
        </td>
    </tr>
{{/if}}
<tr>
    <td colspan="{{ternary hasTax 4 3 }}" class="no-line text-right"><strong>{{trans 'billing.discount' }}</strong></td>
    <td class="no-line text-right">
        <span class="text-danger discount">
            -{{currency discount }}
        </span>
    </td>
    <td class="no-line">
    </td>
</tr>
<tr>
    <td colspan="{{ternary hasTax 4 3 }}" class="no-line text-right"><strong>{{trans 'billing.total' }}</strong></td>
    <td class="no-line text-right">
        <div class="total">
            {{currency total }}
        </div>
    </td>
    <td class="no-line"></td>
</tr>