{##
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/single_column.html.twig" %}

{% set module = 'profile/api' %}

{% block page_title %}{{ "profile.api.title"|trans }}{% endblock page_title %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ "profile.api.title"|trans }}</h3>
            <div class="box-tools pull-right">
                <a href="{{ path('_xhr_api_keys_create') }}" class="btn btn-box-tool" id="create-api-token">
                    {{ icon('plus') }} {{ 'profile.api.create'|trans }}
                </a>
            </div>
        </div>

        <div class="box-body">
            <ul class="list-group" id="token-list"></ul>
        </div>
    </div>
{% endblock content %}
