{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set editQuoteId = false %}

{% extends "@SolidInvoiceQuote/Default/create.html.twig" %}

{% block title %}{{ "quote.edit"|trans }}{% endblock %}
{% block page_title %}{{ "quote.edit"|trans }}{% endblock %}

{% block form_buttons %}
    <div class="float-left">
        <a href="{{ path('_quotes_view', {'id' : quote.id}) }}" class="btn btn-warning">
            {{ icon('reply') }} {{ "quote.save.cancel"|trans }}
        </a>
        <button type="submit" class="btn btn-success" name="save" value="pending">
            {{ icon('envelope', ['o']) }} {{ "quote.save.send"|trans }}
        </button>
    </div>
    <div class="float-right">
        <button type="submit" class="btn btn-primary" name="save" value="draft">
            {{ icon('save') }} {{ "quote.save.update"|trans }}
        </button>
    </div>

    <br class="clear" />
{% endblock form_buttons %}
