{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block title %}{{ "quote.create"|trans }}{% endblock %}

{% block sidebar %}
    {{ menu('quotes_create') }}
{% endblock sidebar %}

{% block content %}
    <div class="alert alert-warning">
        <h4>
            {{ icon('exclamation', ['triangle']) }}
            {{ "quote.client.empty"|trans }} <a href="{{ url('_clients_add') }}">{{ "quote.client.create"|trans }}</a>
        </h4>
    </div>
{% endblock %}
