{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block title %}{{ "quote.list.title"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="widget">
                {#{{ render_multiple_grid('active_quote_grid', 'archive_quote_grid') }}#}
                <twig:DataGrid name="quote_grid" />
            </div>

            <h5>{{ "quote.list.status_legend"|trans }}</h5>

            {% for status in quote_label() %}
                {{ status|raw }}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="card right-nav">
                <div class="card-body">
                    <a class="btn btn-block btn-info action-button" href="{{ path("_quotes_create") }}">
                        {{ icon('file', ['text', 'o']) }} {{ "quote.create"|trans }}
                    </a>

                    <ul class="list-group list-group-unbordered">
                        {% for status, count in status_list_count %}
                            <li class="list-group-item">
                                <label class="badge badge-pill">
                                    {{ count }}
                                </label>

                                {{ ('quote.stats.count.' ~ status)|trans({'%count%': count}) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
