{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceCore/Layout/default.html.twig' %}

{% from "@SolidInvoiceSettings/macros.html.twig" import settings_section %}

{% block title %}{{ "Settings"|trans }}{% endblock %}

{% block content %}
    <section class="row">
        <aside class="col-3">
            <div class="card sticky-top">
                <div class="card-body">
                    <ul class="nav nav-pills nav-sidebar flex-column sidebar-menu" role="tablist">
                        {% for section, setting in appSettings %}
                            <li class="nav-item">
                                <a href="#{{ section }}" data-toggle="tab" class="nav-link{{ loop.first ? ' active' }}"s>
                                    {{ icon('cog') }}
                                    <p>{{ section|trans|title }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </aside>
        <section class="col-9">
            {{ form_start(form) }}
            <div class="tab-content">
                {% for section, setting in appSettings %}
                    <div class="tab-pane{{ loop.first ? ' active' }}" id="{{ section }}">
                        {{ settings_section(section, setting, form) }}
                    </div>
                {% endfor %}
            </div>

            <div class="card-footer form-actions">
                <button type="submit" class="btn btn-success">{{ icon('save') }} {{ "settings.save"|trans }}</button>
            </div>
            {{ form_end(form) }}
        </section>
    </section>

    <script>
        require(['core/util/form/mail'], function (MailSettings) {
            MailSettings('settings_email_sending_options', '{{ form.email.sending_options.transport.vars.value }}');
        });
    </script>
{% endblock %}
