{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceCore/Layout/one_column_left.html.twig' %}

{% from "@SolidInvoiceSettings/macros.html.twig" import settings_section %}

{% block title %}{{ "Settings"|trans }}{% endblock %}

{% block sidebar %}
    <ul class="sidebar-menu tree" data-widget="tree" >
        {% for section, setting in appSettings %}
            <li{{ loop.first ? ' class="active"' }}>
                <a href="#{{ section }}" data-toggle="tab">
                    {{ icon('cog') }}
                    <span>{{ section|trans|title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock sidebar %}

{% block content %}

    {{ form_start(form) }}
        <div class="tab-content">
            {% for section, setting in appSettings %}
                <div class="tab-pane{{ loop.first ? ' active' }}" id="{{ section }}">
                    {{ settings_section(section, setting, form) }}
                </div>
            {% endfor %}
        </div>

        <div class="card-footer form-actions">
            <button type="submit" class="btn btn-success">{{ icon('save') }} {{ "settings.save"|trans }}</button>
        </div>
    {{ form_end(form) }}

    <script>
        require(['core/util/form/mail'], function (MailSettings) {
            MailSettings('settings_email_sending_options', '{{ form.email.sending_options.transport.vars.value }}');
        });
    </script>
{% endblock %}
