{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ block('title') is defined ? block('title') }}</title>

	<style type="text/css" rel="stylesheet">
	    {{ file(asset('css/email.css')) }}
	</style>
    {{ block('head_extra') is defined ? block('head_extra') }}
    </head>
    <body>
        <div class="wrapper">
            {% if block('header') is defined %}
                <header class="main-header">
                    {{ block('header') }}
                </header>
            {% endif %}

            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div role="main" class="box box-default">
                        <div class="box-header">
                            {% block logo %}
                                {{ app_logo() }}
                            {% endblock %}
                            <h2 class="box-title">
                                {{ block('title') is defined ? block('title') }}
                            </h2>
                        </div>
                        <div class="box-body">
                            {{ block('content') is defined ? block('content') }}
                        </div>
                        <div class="box-footer">
                            {{ block('footer') is defined ? block('footer') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>