{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'CSBillCoreBundle:Layout:default.html.twig' %}

{% set title = "installation.title"|trans({"%app_name%" : app_name}) %}

{% block header %}
	{% include "CSBillCoreBundle:Menu:top.html.twig" with {"title" : title|trans} %}
{% endblock header %}

{% block title %}
	{{ title }}
{% endblock title %}

{% block body %}
    <div class="row">
        <section class="col-lg-12 col-md-12 content">
            {{ block('heading') }}

            {% include "CSBillCoreBundle::flash.html.twig" %}

            <div class="widget">
                {{ block('content') }}
            </div>
        </section>
    </div>
{% endblock body %}

{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">
            {{ "installation.progess"|trans }}
        </li>
        {#{% set link = false %}
        {% for index, step in installer.steps %}
            {% set class = not installer.stepComplete(index) ? 'disabled' %}
            {% if installer.currentStep.label is sameas(step.label) %}
                &#123;&#35;{% set link = false %}&#35;&#125;
                {% set class = 'active' %}
            {% endif %}
            <li class="{{ class }}">
                <a href="{{ link ? path('_installer_step', {'step' : index}) : '#' }}">
                    {{ ('installation.step.' ~ step.label)|trans }}
                </a>
            </li>
        {% endfor %}#}
    </ul>
{% endblock sidebar %}
