<div class="row-fluid">
    <form id="credit-form">
        <div class="form-group{{#if error}} has-error{{/if}}">
            <label class="control-label required control-label required" for="credit_amount">{{trans 'client.modal.credit.amount'}}</label>
            <div class="input-group">
                <span class="input-group-addon">{{currency}}</span>
                <input type="text" id="credit_amount" name="credit" required data-required="required" class="form-control" value="{{currency 0 symbol=false}}">
            </div>
            <small>
                <span class="help-block">
                    {{#if error}}
                        {{error}}
                        <br />
                    {{/if}}
                    {{{trans "client.modal.credit.tip" amount=(currency -20 symbol=false)}}}
                </span>
            </small>
        </div>
    </form>
</div>
