{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'CSBillCoreBundle:Layout:one_column_left.html.twig' %}

{% import "CSBillSettingsBundle::macros.html.twig" as _macro %}

{% block title %}{{ "Settings"|trans }}{% endblock %}

{% block sidebar %}
    <ul class="nav nav-tabs nav-stacked">
        {% for section,setting in settings %}
            <li{{ loop.first ? ' class="active"' }}>
                <a href="#{{ section }}" data-toggle="tab">
                    {{ section|trans|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock sidebar %}

{% block content %}

    <div class="widget">
        {{ form_start(form) }}
            <div class="tab-content">
                {% for section, setting in settings %}
                    <div class="tab-pane{{ loop.first ? ' active' }}" id="{{ section }}">
                        {{ _macro.settings_section(section, setting, form) }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-success">{{ icon('save') }} {{ "settings.save"|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
