{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'CSBillCoreBundle:Layout:one_column_left.html.twig' %}

{% import "CSBillSettingsBundle::macros.html.twig" as _macro %}

{% block title %}{{ "Settings"|trans }}{% endblock %}

{% block sidebar %}
    <ul class="nav nav-tabs nav-stacked">
        {% for section,setting in settings %}
            <li{{ loop.first ? ' class="active"' }}>
                <a href="#{{ section }}" data-toggle="tab">
                    {{ section|trans|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock sidebar %}

{% block content %}
    <div class="widget">
        {{ form_start(form) }}
            <div class="tab-content">
                {% for section, setting in settings %}
                    <div class="tab-pane{{ loop.first ? ' active' }}" id="{{ section }}">
                        {{ _macro.settings_section(section, setting, form) }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-success">{{ icon('save') }} {{ "settings.save"|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block script %}
    var transport = $('#settings_email_sending_options_transport'),
        smtpSettings = $('#settings_email_sending_options_host, #settings_email_sending_options_port, #settings_email_sending_options_encryption, #settings_email_sending_options_user, #settings_email_sending_options_password').parent('.form-group'),
        gmailConfig = $('#settings_email_sending_options_host, #settings_email_sending_options_port, #settings_email_sending_options_encryption').parent('.form-group');

    transport.on('change', function () {
        var val = $(this).val();
        if ('smtp' === val) {
            showSmtpSettings();
        } else if ('gmail' === val) {
            showGmailSettings();
        } else if (smtpSettings.is(':visible')) {
            hideSettings();
        }
    });

    function showSmtpSettings()
    {
        gmailConfig.show()
        smtpSettings.show();
    }

    function showGmailSettings()
    {
        smtpSettings.show();
        gmailConfig.hide();
    }

    function hideSettings()
    {
        smtpSettings.hide();
        gmailConfig.hide();
    }

    {#{% set value = form.email.sending_options.transport.vars.value %}

    {% if value == 'smtp' %}
        showSmtpSettings();
    {% elseif value == 'gmail' %}
        showGmailSettings();
    {% endif %}#}
{% endblock %}
