{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{{ form_errors(form) }}

<div class="row">
    <div class="col-lg-6 col-md-6">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col-lg-6 col-md-6">
        {{ form_row(form.lastName) }}
    </div>
</div>

{{ form_row(form.email) }}

<h5>
    {{ 'client.contact.details.extra'|trans }}
</h5>

{% set addBtn = form_widget(form.additionalContactDetails.vars.button_add, {label: '+ ' ~ 'Add Additional Details'|trans, attr: {class: 'btn btn-outline-primary'}}) %}

{{ form_row(form.additionalContactDetails) }}

{{ form_errors(form.additionalContactDetails) }}

{{ addBtn|raw }}
