{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set type %}
    <dropdown :items="{{ contactTypes|json_encode }}" label="{{ 'client.contact.details.choose'|trans }}" :model="'#{{ form.type.vars.id }}'"></dropdown>
    {{ form_widget(form.type) }}
{% endset %}

{% set form_errors %}
    {{- form_errors(form.value) -}}
    {{- form_errors(form) -}}
{% endset %}

{% spaceless %}
    <form-collection>
        <template slot="prototype" slot-scope="item">
            <v-layout>
                <v-flex xs3 class="mt-2">
                    {{ type|replace({
                        "__contact_details_prototype__": "' + item.index + '"
                    })|raw }}
                </v-flex>
                <v-flex xs8 class="mx-0">
                    {{ form_widget(form.value)|replace({
                        "__contact_details_prototype__": "' + item.index + '"
                    })|raw }}
                </v-flex>
                <v-flex xs1 class="mt-3">
                    <a @click="item.$bus.$emit('deleteItem', item.index)" v-if="item.index + 1 < item.length">
                        <v-tooltip left>
                            <v-btn flat icon color="error" slot="activator">
                                <v-icon>remove</v-icon>
                            </v-btn>
                            <span>{{ 'client.contact.details.remove'|trans }}</span>
                        </v-tooltip>
                    </a>
                    <a @click="item.$bus.$emit('addItem')" v-if="item.index + 1 === item.length">
                        <v-tooltip left>
                            <v-btn flat icon color="green" slot="activator">
                                <v-icon>add</v-icon>
                            </v-btn>
                            <span>{{ 'client.contact.details.add'|trans }}</span>
                        </v-tooltip>
                    </a>
                </v-flex>
            </v-layout>
        </template>
    </form-collection>
{% endspaceless %}