{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div
    {% with {attr: row_attr|merge({class: (row_attr.class|default('form-group multiple-form-group input-group') ~ ' form-group')|trim})} %}{{ block('attributes') }}{% endwith %}
>
    <div
        {{ vue_component(
            'Core/Form/DropDownButton',
            {
                'label': 'client.contact.details.choose'|trans,
                'options': contactTypes|map((v) => {'text': v.name|title, 'value': v.id|title}),
                'form-field': form.type.vars.full_name,
            }
        ) }}
    ></div>

    {{ form_row(form.type) }}
    {{ form_widget(form.value) }}

    <span class="input-group-btn">
        {% if child is defined and child %}
            <button type="button" class="btn btn-danger btn-delete" data-action="click->form-collection#delete">-</button>
        {% else %}
            <button type="button" class="btn btn-success btn-add" data-action="click->form-collection#add">+</button>
        {% endif %}
    </span>
</div>

<div class="form-group has-error">
    {{ form_errors(form.type) }}
    {{ form_errors(form.value) }}
    {{ form_errors(form) }}
</div>

{% block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}
