{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="form-row">
    <div class="col-md-4">
        {{ form_widget(form.type) }}
        {{ form_errors(form.type) }}
    </div>
    <div class="col-md-6">
        {{ form_widget(form.value) }}
        {{ form_errors(form.value) }}
    </div>
    <div class="col-md-2 d-flex align-items-center">
        {{ form_widget(form.vars.button_delete, {label: 'Remove', attr: {class: 'btn btn-danger'}}) }}
    </div>
</div>
