{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<v-layout row wrap>
    <v-flex xs6>
        {{ form_row(form.firstName) }}
    </v-flex>
    <v-flex xs6>
        {{ form_row(form.lastName) }}
    </v-flex>
</v-layout>

<div class="collection-container">
    {{ form_row(form.email) }}
</div>

<h4>
    {{ 'client.contact.details.extra'|trans }}
</h4>

{{ form_row(form.additionalContactDetails) }}

{{ form_errors(form) }}