{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set type %}
    <span>
        <dropdown :items="{{ contactTypes|json_encode }}" label="{{ 'client.contact.details.choose'|trans }}" @input="$emit('input', $event)"></dropdown>
        {{ form_widget(form.type, {'attr': {':value': 'props.value'}}) }}
    </span>
{% endset %}

{% set form_errors %}
    {{- form_errors(form.value) -}}
    {{- form_errors(form) -}}
{% endset %}

{% spaceless %}
    <contact-info
        type="{{ type|e('html_attr') }}"
        value="{{ form_widget(form.value)|e('html_attr') }}"
        form-errors="{{ form_errors|e('html_attr') }}"
        :props="props"
    >
    </contact-info>
{% endspaceless %}