{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set body_class = 'login-page' %}

{% extends "@SolidInvoiceCore/Layout/default_no_nav.html.twig" %}

{% block title %}{{ "Reset Password" }}{% endblock title %}

{% block content %}
    <section class="container">
        <div class="card widget">
            <div class="card-body">
                <div class="alert alert-info">
                    {{ 'forgot_password.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-success" href="{{ path('_login') }}">
                    {{ icon('lock') }} {{ 'security.login.login'|trans }}
                </a>
            </div>
        </div>
    </section>
{% endblock %}
