{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/single_column.html.twig" %}

{% block title %}{{ "Reset Password" }}{% endblock title %}

{% block content %}
    <div class="widget">
        <div class="alert alert-info">
            {{ 'forgot_password.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
        </div>

        <a class="btn btn-success" href="{{ path('_login') }}">
            {{ icon('lock') }} {{ 'security.login.login'|trans }}
        </a>
    </div>
{% endblock %}
