{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set body_class = 'login-page' %}

{% extends "@SolidInvoiceCore/Layout/default_no_nav.html.twig" %}

{% block title %}{{ "Reset Password" }}{% endblock title %}

{% block content %}
    <section class="container">

        {% include "@SolidInvoiceCore/flash.html.twig" %}

        <div class="card widget">
            <div class="card-body">
                <p>
                    Forgot your password? Enter your username/email to retrieve a new password.
                </p>
                <form action="{{ path('_user_forgot_password_send_emal') }}" method="POST">
                    <div class="form-group">
                        {% if username is defined %}
                            <div class="alert alert-danger">{{ 'forgot_password.request.invalid_username'|trans({'%username%': username}) }}</div>
                        {% endif %}
                        <label for="username">{{ 'forgot_password.request.username'|trans }}</label>
                        <input type="text" id="username" name="username" required="required" class="form-control">

                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">
                            {{ icon('lock') }} {{ 'forgot_password.request.submit'|trans }}
                        </button>
                        <a href="{{ path('_login') }}" class="btn btn-success">
                            {{ icon('key') }} {{ 'security.login.login'|trans }}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
