{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set items = form.items.vars.prototype|keys %}
{% set formData = {} %}
{% set module = 'invoice-create' %}
{% set currency = form.client.vars.data ? form.client.vars.data.currency : null %}

{% for index, item in form.items %}
    {% set fields = {} %}

    {% for field in item.children|keys %}
        {% set fieldValue %}
            {% set error = form_errors(item[field]) %}

            {% if error|trim is not empty %}
                <div class="form-group has-error">
                    {{ form_widget(item[field]) }}
                    {{ error|raw }}
                </div>
            {% else %}
                {{ form_widget(item[field]) }}
            {% endif %}
        {% endset %}

        {% set fields = fields|merge({(field): ''~fieldValue}) %}
    {% endfor %}

    {% set formData = formData|merge({(index) : fields}) %}

    {% do item.setRendered() %}
{% endfor %}

{% set moduleData = {
    'client': form.client.vars.data,
    'clientForm': block('form_client') is defined ? block('form_client'),
    'fieldData': billing_fields(form),
    'formData': formData,
    'tax': taxRatesConfigured(),
} %}

{% set serializationGroups = ['client_api'] %}

{% form_theme form with ['@SolidInvoiceCore/Form/fields.html.twig', _self] %}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block title %}
    {% if invoice is defined %}
        {{ 'invoice.title'|trans({'%id%' : invoice.id}) }}
    {% else %}
        {{ (recurring ? "invoice.action.create_recurring" : "invoice.action.create")|trans }}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ menu('invoices_create') }}
{% endblock sidebar %}

{% block form_row %}
    {% if prototype is not defined %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr' : {'id' : 'invoice-create-form'} }) }}

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-{{ recurring ? '9' : '12' }}">
            <div class="card" id="invoice-create">
                <div class="card-body">
                    <section class="invoice">

                        <div class="col-12">
                            <div class="row">
                                <div class="col-6" id="client-info">
                                </div>

                                <div class="col-6 text-right" id="discount">
                                    {{ block('form_discount') is defined ? block('form_discount') }}
                                </div>
                            </div>
                        </div>

                        <div id="invoice-items">
                        </div>

                        <br class="clear"/>

                        <div class="row">
                            <div class="col-6">
                                {{ form_row(form.terms) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.notes) }}
                            </div>
                        </div>

                        <div class="form-actions">
                            {{ block('form_buttons') is defined ? block('form_buttons') }}
                        </div>
                    </section>
                </div>
            </div>
        </div>

        {% if recurring %}
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        Invoice Settings
                    </div>
                    <div class="card-body">
                        <div class="recurring-info row">
                            <div class="col-12">
                                {{ form_row(form.frequency) }}
                            </div>
                            <div class="col-12">
                                {{ form_row(form.date_start) }}
                            </div>
                            <div class="col-12">
                                {{ form_row(form.date_end) }}
                            </div>
                            <hr />
                            <div class="col-12">
                                <small>
                                    {{ 'invoice.recurring.variables.text'|trans }}
                                    <br/>
                                    <ul>
                                        <li>
                                            <strong>{day}</strong> - {{ 'invoice.recurring.variables.day'|trans }}</li>
                                        <li>
                                            <strong>{day_name}</strong> - {{ 'invoice.recurring.variables.day_name'|trans }}</li>
                                        <li>
                                            <strong>{month}</strong> - {{ 'invoice.recurring.variables.month'|trans({"%month%": 'now'|date('F')}) }}</li>
                                        <li>
                                            <strong>{year}</strong> - {{ 'invoice.recurring.variables.year'|trans({"%year%": 'now'|date('Y')}) }}</li>
                                    </ul>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock content %}

{% block form_client %}
    <div id="client-select">
        {{ form_row(form.client) }}
    </div>

    <div id="client-select-container">
        {% if form.client.vars.data %}
            {% include "@SolidInvoiceClient/Ajax/info.html.twig" with {'client' : form.client.vars.data, 'form' : form} %}
        {% endif %}
    </div>
{% endblock form_client %}

{% block form_discount %}
    {{ form_row(form.discount) }}
{% endblock form_discount %}

{% block form_buttons %}
    <div class="float-left">
        <button type="submit" class="btn btn-success" name="save" value="pending">
            {{ icon('envelope', ['o']) }} {{ (recurring ? "invoice.save.enable" : "invoice.save.send")|trans }}
        </button>
    </div>
    <div class="float-right">
        <button type="submit" class="btn btn-primary" name="save" value="save">
            {{ icon('save') }} {{ "invoice.save.draft"|trans }}
        </button>
    </div>

    <br class="clear"/>
{% endblock form_buttons %}
