{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceInvoice/Default/create.html.twig" %}

{% block page_title %}{{ "invoice.action.edit"|trans }}{% endblock %}
{% block title %}{{ "invoice.action.edit"|trans }}{% endblock %}

{% block sidebar %}
    {{ menu('invoices_edit', {'invoice' : invoice}) }}
{% endblock sidebar %}

{% block form_buttons %}
        <div class="float-left">
            <a href="{{ path('_invoices_view', {'id' : invoice.id}) }}" class="btn btn-warning">
                {{ icon('reply') }} {{ "invoice.save.cancel"|trans }}
            </a>
            {% if not invoice.recurring %}
                <button type="submit" class="btn btn-success" name="save" value="pending">
                    {{ icon('envelope', ['o']) }} {{ "invoice.save.send"|trans }}
                </button>
            {% endif %}
        </div>
        <div class="float-right">
            <button type="submit" class="btn btn-primary" name="save" value="draft">
                {{ icon('save') }} {{ "invoice.save.update"|trans }}
            </button>
        </div>
{% endblock form_buttons %}
