{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block title %}{{ "invoice.action.create"|trans }}{% endblock %}

{% block sidebar %}
    {{ menu('invoices_create') }}
{% endblock sidebar %}

{% block content %}
    <div class="alert alert-warning">
        <h4>
            {{ icon('exclamation', ['triangle']) }}
            {{ "invoice.client.empty"|trans }} <a href="{{ url('_clients_add') }}">{{ "invoice.client.create"|trans }}</a>
        </h4>
    </div>
{% endblock %}
