{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}


{% extends "CSBillCoreBundle:Layout:one_column_left.html.twig" %}

{% block title %}{{ "invoice.list.title"|trans }}{% endblock %}

{% block sidebar %}
    {{ menu('invoices_index') }}
{% endblock sidebar %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="widget">
            {{ render_multiple_grid('active_invoice_grid', 'recurring_invoice_grid', 'archive_invoice_grid') }}
            </div>

            <h5>{{ "invoice.list.status_legend"|trans }}</h5>

            {% for status in invoice_label() %}
                {{ status|raw }}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="box right-nav">
                <div class="box-body">
                    <a class="btn btn-block btn-info action-button" href="{{ path("_invoices_create") }}">
                        {{ icon('file', ['text', 'o']) }} {{ "invoice.action.create"|trans }}
                    </a>

                    <ul class="list-group list-group-unbordered">
                        {% for status, count in status_list_count %}
                            <li class="list-group-item">
                                <span class="badge">{{ count }}</span>
                                {{ ('invoice.stats.count.' ~ status)|transchoice(count) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

