<h3>
    {{ 'quote.status_change.heading'|trans({}, 'email') }}
</h3>
<br />
<strong>
    {{ 'quote.status_change.id'|trans({}, 'email') }}:
</strong>
<a href="{{ url('_quotes_view', {'id' : quote.id}) }}">
    quote.id
</a><br />

<strong>
    {{ 'quote.status_change.old_status'|trans({}, 'email') }}:
</strong>
{{ old_status }}<br />

<strong>
{{ 'quote.status_change.new_status'|trans({}, 'email') }}:
</strong>
{{ new_status }}
