<h3>
    {{ 'quote.status_change.heading'|trans({}, 'email') }}
</h3>

<strong>
    {{ 'quote.status_change.id'|trans({}, 'email') }}:
</strong>
{{ url('_quotes_view', {'id' : quote.id}) }}<br />

<strong>
    {{ 'quote.status_change.old_status'|trans({}, 'email') }}:
</strong>
{{ old_status }}<br />

<strong>
{{ 'quote.status_change.new_status'|trans({}, 'email') }}:
    {{ new_status }}
</strong>
