{% extends "CSBillCoreBundle:Layout:Email.html.twig" %}

{% block title %}
    {{ 'quote.status_change.heading'|trans({}, 'email') }}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>
                {{ 'quote.status_change.id'|trans({}, 'email') }}
            </th>
            <td>
                <a href="{{ url('_quotes_view', {'id' : quote.id}) }}">
                    {{ quote.id }}
                </a>
            </td>
        </tr>
        <tr>
            <th>
                {{ 'quote.status_change.old_status'|trans({}, 'email') }}
            </th>
            <td>
                {{ quote_label(old_status) }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'quote.status_change.new_status'|trans({}, 'email') }}
            </th>
            <td>
                {{ quote_label(new_status) }}
            </td>
        </tr>
    </table>
{% endblock %}