<div class="widget well well-sm">
    <div class="" style="position: absolute;">
        <i class="fa fa-map-marker"></i>
    </div>
    <div style="position: relative; left: 20px;">
        {{ street1 }} {{ street2 }} {{ city }} {{ state }} {{ zip }} {{ country }}
    </div>
    <div class="pull-right">
        <i class="fa fa-map-marker"></i>
        <a href="http://maps.google.com/?q={{ compact }}" target="_blank">
            {{trans 'client.address.view_map' }}
        </a>
    </div>
    <br class="clear" />
    <div class="pull-right address-actions">
        <a href="#" rel="tooltip" title="{{trans "client.address.delete" }}" class="text-danger delete-address">
            <i class="fa fa-trash-o"></i>
        </a>
    </div>
    <br class="clear"/>
</div>