{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% import "@SolidInvoiceCore/Form/macro.html.twig" as _macro %}

{{ form_start(form) }}

{{ form_errors(form) }}

<v-container grid-list-md fluid>
    <v-layout row wrap>
        <v-flex xs6>
            <v-layout row wrap>
                <v-flex xs12>
                    <box title="{{ 'client.info'|trans|e('html_attr') }}">
                        <template slot="body">
                            {{ form_row(form.name) }}
                            {{ form_row(form.website) }}
                            {{ form_row(form.currency) }}
                            {{ form_row(form.vat_number) }}
                        </template>
                    </box>
                </v-flex>

                <v-flex xs12>
                    <box title="{{ form.addresses.vars.label|e('html_attr') }}">
                        <template slot="body">
                            {{ form_row(form.addresses) }}
                        </template>
                    </box>
                </v-flex>
            </v-layout>
        </v-flex>

        <v-flex xs6>
            <box title="{{ form.contacts.vars.label|e('html_attr') }}">
                <template slot="body">
                    {{ form_row(form.contacts) }}
                </template>
            </box>
        </v-flex>
    </v-layout>
</v-container>

{{ form_rest(form) }}

<v-divider></v-divider>

<div class="control-group">
    <div class="controls">
        <div class="pull-left">
            <button type="button" class="btn btn-warning" onclick="history.back()">
                {{ icon('reply') }} {{ 'client.cancel'|trans }}
            </button>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-success">
                {{ icon('save') }} {{ "client.save"|trans }}
            </button>
        </div>
    </div>
</div>
{{ form_end(form) }}
