{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-lg-6 col-md-6" id="client-address-collection">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">{{ 'client.info'|trans }}</h3>
                </div>

                <div class="card-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.website) }}
                    {{ form_row(form.currencyCode) }}
                    {{ form_row(form.vat_number) }}
                </div>
            </div>

            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">{{ 'client.address.info'|trans }}</h3>
                </div>

                <div class="card-body">
                    {#{% set addressesPrototypeForm %}
                        {{ _macro.widget_prototype(form.addresses, 'client.address.delete'|trans, {'trash' : {'class' : 'float-right btn-flat btn btn-danger'} }) }}
                    {% endset %}#}

                    <div class="client_addresses">
                        {{ form_row(form.addresses) }}
                        {#{% for widget in form.addresses %}
                            {{ _macro.widget_prototype(widget, 'client.address.delete'|trans, {'trash' : {'class' : 'float-right btn-flat btn btn-danger'}}) }}
                        {% else %}
                            {{ addressesPrototypeForm|replace({'__name__' : 0})|raw }}
                        {% endfor %}#}
                    </div>
                </div>

                <div class="card-footer">
                    <a href="#" data-target="client_addresses" class="btn-flat btn-add add_form_collection_link">
                        {{ icon('plus', ['circle']) }} {{ "client.address.add"|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6" id="client-contacts-collection">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">{{ 'client.contact.info'|trans }}</h3>
                </div>

                <div class="card-body">
                    {#{% set prototypeForm %}
                        {{ _macro.widget_prototype(form.contacts, 'client.contact.delete'|trans, {'trash' : {'class' : 'float-right btn btn-flat btn-danger'} }) }}
                    {% endset %}#}

                    <div class="client_contacts">
                        {{ form_row(form.contacts) }}
                        {#{% for widget in form.contacts %}
                            {{ _macro.widget_prototype(widget, 'client.contact.delete'|trans, {'trash' : {'class' : 'float-right btn btn-flat btn-danger'}}) }}
                        {% else %}
                            {{ prototypeForm|replace({'__contact_prototype__' : 0})|raw }}
                        {% endfor %}#}
                    </div>
                </div>

                <div class="card-footer">
                    <a href="#" data-target="client_contacts" class="btn-flat btn-add add_form_collection_link">
                        {{ icon('plus', ['circle']) }} {{ "client.contact.add"|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="control-group">
        <div class="controls clearfix">
            <div class="float-left">
                <button type="button" class="btn btn-warning" onclick="history.back()">
                    {{ icon('reply') }} {{ 'client.cancel'|trans }}
                </button>
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-success">
                    {{ icon('save') }} {{ "client.save"|trans }}
                </button>
            </div>
            <br class="clear" />
        </div>
    </div>
{{ form_end(form) }}
