{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set currency = client.currency %}

{% extends "SolidInvoiceCoreBundle:Layout:one_column_left.html.twig" %}

{#{% block page_title %}
    {{ client.name }}
{% endblock page_title %}#}

{#{% block title %}
    {{ block('page_title') is defined ? block('page_title') }}
    <small>{{ client_label(client.status) }}</small>
{% endblock title %}#}

{% block sidebar %}
    {{ menu('clients_view', {'client': client}) }}
{% endblock sidebar %}

{% block content %}
    {% set totalAddresses = client.addresses|length %}

    <v-layout row :wrap="$vuetify.breakpoint.smAndDown">
        <v-flex md4 sm12>
            <box>
                <v-flex slot="body">
                    <h3 class="headline mb-0">
                        {{ client_label(client.status) }}
                        {{ client.name }}
                    </h3>

                    <v-layout>
                        <v-flex xs6 class="mx-3">
                            <v-btn href="{{ path('_clients_edit', {'id' : client.id}) }}" color="blue" small outline block>
                                {{ icon('edit') }}&nbsp;{{ "client.view.actions.edit"|trans }}
                            </v-btn>
                        </v-flex>
                        <v-flex xs6 class="mx-3">
                            <v-btn href="{{ path('_xhr_clients_delete', {'id' : client.id}) }}" color="error" small outline block>
                                {{ icon('trash-o') }}&nbsp;{{ "client.view.actions.delete"|trans }}
                            </v-btn>
                        </v-flex>
                    </v-layout>

                    <v-list>
                        {% if client.website %}
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-icon color="indigo">link</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        <a href="{{ client.website }}" rel="external" target="_blank">{{ client.website }}</a>
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        {% endif %}
                        {% if client.currency %}
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-icon color="indigo">attach_money</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ client.currency }}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        {% endif %}
                        {% if client.vatNumber %}
                            <v-list-tile>
                                <v-list-tile-action></v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ client.vatNumber }}</v-list-tile-title>
                                    <v-list-tile-sub-title>{{ 'tax.vat_number'|trans }}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        {% endif %}
                    </v-list>

                    <v-divider class="mb-2"></v-divider>

                    <v-layout row :wrap="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.mdOnly">
                        <v-flex sm6 md12 xs12 :class="{'mr-2': $vuetify.breakpoint.smOnly || $vuetify.breakpoint.lgAndUp}">
                            <v-btn href="{{ path("_quotes_create", {"client" : client.id}) }}" color="primary" block>
                                <v-icon>note_add</v-icon> {{ "client.view.actions.create_quote"|trans }}
                            </v-btn>
                        </v-flex>
                        <v-flex sm6 md12 xs12 :class="{'ml-2': $vuetify.breakpoint.smOnly || $vuetify.breakpoint.lgAndUp}">
                            <v-btn href="{{ path("_invoices_create", {"client" : client.id}) }}" color="primary" block>
                                <v-icon>note_add</v-icon> {{ "client.view.actions.create_invoice"|trans }}
                            </v-btn>
                        </v-flex>
                    </v-layout>

                    <v-layout row>
                        <v-layout column>
                            <v-list two-line>
                                <v-list-tile>
                                    <v-list-tile-content>
                                        <v-list-title>{{ total_income(client)|formatCurrency }}</v-list-title>
                                        <v-list-tile-sub-title>{{ "client.stats.income"|trans }}</v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </v-list>
                        </v-layout>
                        <v-layout column>
                            <v-list two-line>
                                <v-list-tile>
                                    <v-list-tile-content>
                                        <v-list-title>{{ total_outstanding(client)|formatCurrency }}</v-list-title>
                                        <v-list-tile-sub-title>{{ "client.stats.outstanding"|trans }}</v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </v-list>
                        </v-layout>
                    </v-layout>

                    <v-divider class="mb-2"></v-divider>

                    <v-layout row wrap>
                        <v-flex xs6>
                            <v-chip color="orange" text-color="white" slot="activator">
                                <v-avatar class="warning darken-4">{{ client.quotes|length }}</v-avatar>
                                {{ "client.stats.number_quotes"|transchoice(client.quotes|length) }}
                            </v-chip>
                        </v-flex>
                        <v-flex xs6>
                            <v-chip color="teal" text-color="white">
                                <v-avatar class="teal darken-4">{{ client.invoices|length }}</v-avatar>
                                {{ "client.stats.number_invoices"|transchoice(client.invoices|length) }}
                            </v-chip>
                        </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                        <v-flex xs6>
                            <v-chip color="error" text-color="white" class="lighten-4 mx2">
                                <v-avatar class="red darken-4">{{ total_invoices_pending }}</v-avatar>
                                {{ "client.stats.outstanding_invoices"|trans }}
                            </v-chip>
                        </v-flex>
                        <v-flex xs6>
                            <v-chip color="green" text-color="white" class="mx-2">
                                <v-avatar class="green darken-4">{{ total_invoices_paid }}</v-avatar>
                                {{ "client.stats.paid_invoices"|trans }}
                            </v-chip>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </box>
        </v-flex>

        <v-flex md8 sm12 :class="{'ml-3': $vuetify.breakpoint.mdAndUp}">

            <v-tabs class="elevation-3">
                <v-tab ripple>
                    {{ 'client.view.tabs.info'|trans }}
                </v-tab>
                <v-tab ripple>
                    {{ 'client.view.tabs.quotes'|trans }}
                </v-tab>
                <v-tab ripple>
                    {{ 'client.view.tabs.invoices'|trans }}
                </v-tab>
                <v-tab ripple>
                    {{ 'client.view.tabs.payments'|trans }}
                </v-tab>
                <v-tab-item>
                    <v-card flat>
                        <v-card-text>
                            <v-layout>
                                {% for contact in client.contacts %}
                                    <v-flex sm6 xs12>
                                        <v-card>
                                            <v-card-title primary-title>
                                                <div>
                                                    <h3 class="headline mb-0"><i class="fa fa-user"></i>&nbsp;{{ contact.firstName }} {{ contact.lastName }}</h3>
                                                    <v-list>
                                                        <v-list-tile>
                                                            <v-list-tile-content>
                                                                <v-list-title-tile>
                                                                    {{ 'client.contact.details.email'|trans }}
                                                                </v-list-title-tile>
                                                                <v-list-tile-sub-title>
                                                                    {{ contact.email }}
                                                                </v-list-tile-sub-title>
                                                            </v-list-tile-content>
                                                        </v-list-tile>
                                                        {% if contact.additionalContactDetails|length > 0 %}
                                                            <v-subheader>{{ 'client.contact.details.extra'|trans }}</v-subheader>

                                                            {% for detail in contact.additionalContactDetails %}
                                                                <v-list-tile>
                                                                    <v-list-tile-content>
                                                                        <v-list-title-tile>
                                                                            {{ detail.type }}
                                                                        </v-list-title-tile>
                                                                        <v-list-tile-sub-title>
                                                                            {{ detail.value }}
                                                                        </v-list-tile-sub-title>
                                                                    </v-list-tile-content>
                                                                </v-list-tile>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </v-list>
                                                </div>
                                            </v-card-title>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn flat small>Edit</v-btn>
                                                {% if client.contacts|length > 1 %}
                                                    <v-btn flat small>Delete</v-btn>
                                                {% endif %}
                                            </v-card-actions>
                                        </v-card>
                                    </v-flex>
                                {% endfor %}
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item>
                    <v-card flat>
                        <v-card-text>
                            {% include "SolidInvoiceClientBundle::quote_list.html.twig" %}
                        </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item>
                    <v-card flat>
                        <v-card-text>
                            {% include "SolidInvoiceClientBundle::invoice_list.html.twig" %}
                        </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item>
                    <v-card flat>
                        <v-card-text>
                            {% include "SolidInvoicePaymentBundle:Payment:list.html.twig" with {"data" : {'client': client.id}, "grid" : 'client_payment_grid'} only %}
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs>
        </v-flex>
    </v-layout>
{% endblock content %}
