{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceCore/Layout/single_column.html.twig' %}

{% block title %}{{ "payment.create.tite"|trans|replace({"%id%" : invoice.id}) }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-body">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {{ invoice.client.name }}
                            <small>{{ client_label(invoice.client.status) }}</small>
                        </h3>
                        {% if invoice.client.credit.value is not empty %}
                            <div class="box-tools pull-right">
                                {{ 'payment.create.credit'|trans }}
                                {{ invoice.client.credit.value|formatCurrency }}
                            </div>
                        {% endif %}
                    </div>

                    {% embed "@SolidInvoiceInvoice/invoice_template.html.twig" %}
                        {% block header %}{% endblock header %}
                        {% block footer %}{% endblock footer %}
                    {% endembed %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-info">{{ icon('credit-card') }} {{ 'payment.action.pay'|trans }}</button>
                    <a href="javascript:history.go(-1)" class="btn btn-warning">
                        {{ icon('reply') }} {{ 'payment.create.cancel'|trans }}
                    </a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    require(['jquery'], function ($) {
        $(function () {
            var internal = ['{{ internal|join("', '")|raw }}'];

            var captureOnline = $('#payment_capture_online').parents('div.form-group');
            captureOnline.hide();

            $('#payment_payment_method').on('change', function () {
                var val = $('option:selected', this).data('gateway');

                if (-1 !== internal.indexOf(val)) {
                    captureOnline.hide();
                } else {
                    captureOnline.show();
                }
            });
        });
    });
{% endblock %}
