{#
 #
 # This file is part of the CSBill package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

{% extends parent is defined ? parent : 'CSBillCoreBundle:Layout:single_column.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "@CSBillDataGridBundle/Resources/public/js/grid.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'search'|trans }}</div>
        <div class="panel-body">
            {% if filters is defined %}
                <div class="pull-right filter">
                    <ul class="nav nav-pills pull-left">
                        <li>
                            <a href="#" class="filter-header">
                                <b>{{ icon('filter') }} {{ "Filter:"|trans }}</b>
                            </a>
                        </li>
                        {% for filter in filters %}
                            <li>
                                <a href="{{ path(app.request.get('_route'), query|merge({'filter' : filter.name})) }}" class="{{ filter.class }}">{{ filter|trans }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div>
                <form action="{{ path(app.request.get('_route'), query) }}" method="post" class="form-search form-inline">
                    <div class="input-group">
                        <input name="search" placeholder="{{ "Search"|trans }}" type="text" id="search" class="search-query form-control" value="{{ app.request.get('search') ?: '' }}" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info">{{ icon('search') }} {{ "search"|trans }}</button>
                        </span>
                    </div>

                    <br />
                    <a href="#" id="grid-advanced-search">{{ "Advanced Search"|trans }}</a>
                </form>
            </div>

            {{ grid_search(grid, 'CSBillDataGridBundle::grid.html.twig') }}
        </div>
    </div>


    {{ grid(grid, 'CSBillDataGridBundle::grid.html.twig') }}

{% endblock content %}
