{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set footerSpan = invoice.tax.positive ? 1 : 2 %}

<div class="{{ containerClass is defined ? containerClass : 'widget' }}" id="invoice-create">
    <div class="invoice">
        {% block header %}
            <div class="row">
                <div class="col-xs-12">
                    {% block title %}
                        <h2 class="page-header">
                            {{ "invoice.title"|trans({"%id%" : invoice.id}) }} {{ invoice_label(invoice.status) }}
                        </h2>
                    {% endblock %}
                    <div class="row invoice-info">
                        <div class="col-sm-6 invoice-col">
                            <h4>{{ invoice.client }}</h4>
                            {% if invoice.client.website is not empty %}
                                <p>
                                    <a href="{{ invoice.client.website }}" rel="external" target="_blank">
                                        {{ invoice.client.website }}
                                    </a>
                                </p>
                            {% endif %}

                            {% if invoice.client.vatNumber is not empty %}
                                <p>
                                    <strong>{{ 'tax.vat_number'|trans }}</strong> {{ invoice.client.vatNumber }}
                                </p>
                            {% endif %}

                            <address>
                                {% for address in invoice.client.addresses %}
                                    {{ address|replace({"\n": ", "}) }}<br/>
                                {% endfor %}
                            </address>
                            <p>
                                {% for user in invoice.users %}
                                <address class="col-xs-6">
                                    <strong>{{ user }}</strong><br/>
                                    {{ 'email'|trans }}: {{ user.email }}<br/>
                                    {% for info in user.additionalContactDetails %}
                                        {{ info.type|title }}: {{ info.value }}<br>
                                    {% endfor %}
                                </address>
                            {% endfor %}
                            </p>
                        </div>
                        <div class="col-sm-6 invoice-col">
                            <dl class="dl-horizontal">
                                <dt>{{ "invoice.title"|trans({"%id%" : ''}) }}</dt>
                                <dd>{{ invoice.id }}</dd>
                                <dt>{{ "invoice.total"|trans }}</dt>
                                <dd>{{ invoice.total|formatCurrency }}</dd>
                                <dt>{{ "invoice.created"|trans }}</dt>
                                <dd>{{ invoice.created | date }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">

                        <table id="invoice-rows" class="table table-condensed">
                            <thead>
                            <tr>
                                <th>{{ 'invoice.item.heading.description'|trans }}</th>
                                <th>{{ 'invoice.item.heading.price'|trans }}</th>
                                <th>{{ 'invoice.item.heading.qty'|trans }}</th>
                                {% if invoice.tax.positive %}
                                    <th>{{ 'invoice.item.heading.tax'|trans }}</th>
                                {% endif %}
                                <th class="text-right">{{ 'invoice.item.heading.total'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in invoice.items %}
                                <tr>
                                    <td class="column-description">
                                        {{ item.description }}
                                    </td>
                                    <td class="column-price">
                                        {{ item.price|formatCurrency }}
                                    </td>
                                    <td class="column-qty">
                                        {{ item.qty }}
                                    </td>
                                    {% if invoice.tax.positive %}
                                        <td class="column-tax">
                                            {{ item.tax }}
                                        </td>
                                    {% endif %}
                                    <td class="column-total text-right">
                                        {{ item.total|formatCurrency }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="no-line"></td>
                                <td colspan="{{ footerSpan }}" class="thick-line text-right">
                                    <strong>{{ 'invoice.subtotal'|trans }}</strong>
                                </td>
                                <td class="thick-line text-right">
                                    <div class="invoice-sub-total">
                                        {{ invoice.baseTotal|formatCurrency }}
                                    </div>
                                </td>
                            </tr>
                            {% if invoice.tax.positive %}
                                <tr>
                                    <td class="no-line"></td>
                                    <td colspan="{{ footerSpan }}" class="no-line text-right">
                                        <strong>{{ 'invoice.tax'|trans }}</strong>
                                    </td>
                                    <td class="no-line text-right">
                                        <span class="text-error invoice-tax">
                                            {{ invoice.tax|formatCurrency }}
                                        </span>
                                    </td>
                                </tr>
                            {% endif %}

                            {% if invoice.discount is not empty %}
                                <tr>
                                    <td class="no-line"></td>
                                    <td colspan="{{ footerSpan }}" class="no-line text-right">
                                        <strong>{{ 'invoice.discount'|trans }}</strong>
                                    </td>
                                    <td class="no-line text-right">
                                        <span class="text-danger invoice-discount">
                                            -{{ (invoice.baseTotal.add(invoice.tax))|percentage(invoice.discount)|formatCurrency }}
                                        </span>
                                    </td>
                                </tr>
                            {% endif %}
                            {% set paid = 0 %}
                            {% if invoice.payments|length > 0 and not invoice.balance.zero %}
                                {% for payment in invoice.payments if payment.status == 'captured' %}
                                    <tr>
                                        <td class="no-line"></td>
                                        <td colspan="{{ footerSpan }}" class="no-line text-right">
                                            <strong>
                                                Payment:
                                            </strong>
                                            {{ payment.method.name }}
                                        </td>
                                        <td class="no-line text-right">
                                            <div class="text-danger invoice-total">
                                                -{{ payment.totalAmount|formatCurrency(payment.currencyCode) }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <td class="no-line"></td>
                                <td colspan="{{ footerSpan }}" class="no-line text-right">
                                    <strong>
                                        {% if invoice.payments|length > 0 and not invoice.balance.zero %}
                                            {{ 'invoice.balance'|trans }}
                                        {% else %}
                                            {{ 'invoice.total'|trans }}
                                        {% endif %}
                                    </strong>
                                </td>
                                <td class="no-line text-right">
                                    <div class="invoice-total">
                                        {% if invoice.payments|length > 0 and not invoice.balance.zero %}
                                            {{ invoice.balance|formatCurrency }}
                                        {% else %}
                                            {{ invoice.total|formatCurrency }}
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="row">
            {% block footer %}
                {% if invoice.terms is not empty %}
                    <div class="col-xs-6">
                        <strong>{{ 'invoice.terms'|trans }}</strong>
                        <p class="text-muted well well-sm no-shadow">
                            {{ invoice.terms|nl2br }}
                        </p>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
