{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'CSBillCoreBundle:Layout:single_column.html.twig' %}

{% block title %}{{ "payment.create.tite"|trans|replace({"%id%" : invoice.id}) }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="widget">
                <h3>
                    {{ invoice.client.name }}
                    <small>{{ client_label(invoice.client.status) }}</small>
                    {% if invoice.client.credit.value is not empty %}
                        <div class="pull-right">
                            {{ 'payment.create.credit'|trans }}
                            {{ invoice.client.credit.value|formatCurrency }}
                        </div>
                    {% endif %}
                </h3>

                <div>
                    <dl class="dl-horizontal">
                        {% for item in invoice.items %}
                            <dt>{{ item }}</dt>
                            <dd>{{ item.total|formatCurrency }}</dd>
                        {% endfor %}

                        <hr />

                        {% if invoice.discount is not empty %}
                            <dt>{{ 'payment.create.base_total'|trans }}</dt>
                            <dd>{{ invoice.baseTotal|formatCurrency }}</dd>
                            <dt>{{ 'payment.create.discount'|trans }}</dt>
                            <dd class="text-danger">-{{ (invoice.balance.add(invoice.tax))|percentage(invoice.discount)|formatCurrency }}</dd>
                        {% endif %}

                        <dt>{{ 'payment.create.total'|trans }}</dt>
                        <dd>{{ invoice.total|formatCurrency }}</dd>

                        {% if invoice.payments|length > 0 and not invoice.balance.zero %}
                            <dt>{{ 'payment.create.balance'|trans }}</dt>
                            <dd>{{ invoice.balance|formatCurrency }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-info">{{ icon('credit-card') }} {{ 'payment.action.pay'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    $(function () {
        var captureOnline = $('#payment_capture_online').parents('div.form-group');
        $('#payment_payment_method').on('change', function () {
            var val = $('option:selected', this).text();

            if ('credit' === val.toLowerCase()) {
                captureOnline.hide();
            } else {
                captureOnline.show();
            }
        });
    });
{% endblock %}
