{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<legend>
    <h3>
        {{ icon('credit-card') }} {{ "Payments"|trans }}
    </h3>
</legend>

<div class="widget">
    {% for payment in payments %}
        <div class="row">
            <div class="col-md-2">
                {{ payment_label(payment.status, payment.message) }}
            </div>
            {% if show_invoice %}
                <div class="col-md-2">
                    {{ 'invoice'|trans }} #<a href="{{ path('_invoices_view', {'id' : payment.invoice}) }}">
                        {{ payment.invoice }}
                    </a>
                </div>
            {% endif %}
            <div class="col-md-2">
                {{ payment.method }}
            </div>
            <div class="col-md-2">
                {{ payment.completed|date }}
            </div>
            <div class="col-md-2">
                {{ payment.currencyCode }}
            </div>
            <div class="col-md-2">
                {{ payment.totalAmount|currency }}
            </div>
        </div>
        <hr />
    {% endfor %}
</div>
