{% spaceless %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
        <tr>
            {% if show_invoice %}
                <th>{{ 'payment.list.grid.invoice'|trans }}</th>
            {% endif %}
            <th>{{ 'payment.list.grid.payment_id'|trans }}</th>
            <th>{{ 'payment.list.grid.method'|trans }}</th>
            <th>{{ 'payment.list.grid.amount'|trans }}</th>
            <th>{{ 'payment.list.grid.currency'|trans }}</th>
            <th>{{ 'payment.list.grid.payment_date'|trans }}</th>
            <th>{{ 'payment.list.grid.status'|trans }}</th>
        </tr>
        </thead>
        {% for payment in payments %}
            <tr>
                {% if show_invoice %}
                    <td>
                        <a href="{{ path('_invoices_view', {'id' : payment.invoice}) }}">{{ payment.invoice }}</a>
                    </td>
                {% endif %}
                <td>
                    {{ payment.id }}
                </td>
                <td>
                    {{ payment.method }}
                </td>
                <td>
                    {{ payment.totalAmount|currency }}
                </td>
                <td>
                    {{ payment.currencyCode }}
                </td>
                <td>
                    {{ payment.completed|date }}
                </td>
                <td>
                    {{ payment_label(payment.status, payment.message) }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endspaceless %}
