{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
</ul>

<div class="container">
    <div class="collapse navbar-collapse" id="top_menu">
        {{ menu('top', {'attr' : {'class' : 'nav navbar-nav navbar-right'}}) }}
    </div>
</div>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="btn-group float-right" id="top-menu-create-button">
        <button class="btn btn-info btn-sm dropdown-toggle m-0" type="button" data-toggle="dropdown">
            {{ icon('plus') }} {{ 'menu.button.create'|trans }} <b class="caret"></b>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li class="nav-item">
                <a href="{{ path('_clients_add') }}" class="nav-link">
                    {{ icon('user-plus') }} {{ 'dashboard.create.client'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('_quotes_create') }}" class="nav-link">
                    {{ icon('file-text-o') }} {{ 'dashboard.create.quote'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('_invoices_create') }}" class="nav-link">
                    {{ icon('file-text-o') }} {{ 'dashboard.create.invoice'|trans }}
                </a>
            </li>
        </ul>
    </div>
{% endif %}
