{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}


{{ knp_menu_render('top', {}, 'vuetify_toolbar') }}

{#
<nav class="navbar navbar-static-top">
    {% if header_content is not defined or header_content is empty %}
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    {% endif %}

    <div class="container">
        {% if header_content is defined %}
            {{ header_content }}
        {% endif %}

        <div class="collapse navbar-collapse" id="top_menu">
            {{ knp_menu_render('top', {'attr' : {'class' : 'nav navbar-nav'}}, 'vuetify_toolbar') }}

            {{ menu('top_right', {'attr' : {'class' : 'nav navbar-nav navbar-right'}}) }}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="btn-group hidden-xs" id="top-menu-create-button">
                    <button class="btn btn-default btn-sm dropdown-toggle margin" type="button" data-toggle="dropdown">
                        {{ 'menu.button.create'|trans }}
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('_clients_add') }}">
                                {{ icon('user-plus') }} {{ 'dashboard.create.client'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('_quotes_create') }}">
                                {{ icon('file-text-o') }} {{ 'dashboard.create.quote'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('_invoices_create') }}">
                                {{ icon('file-text-o') }} {{ 'dashboard.create.invoice'|trans }}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</nav>#}
