<div class="row invoice-container">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><strong>{{trans 'invoice.summary' }}</strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    {{trans "invoice.item.heading.description"}}
                                </th>
                                <th>
                                    {{trans "invoice.item.heading.price"}}
                                </th>
                                <th>
                                    {{trans "invoice.item.heading.qty"}}
                                </th>
                                {{#if hasTax}}
                                    <th>
                                        {{trans "invoice.item.heading.tax"}}
                                    </th>
                                {{/if}}
                                <th class="text-right">{{trans 'invoice.item.heading.total' }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="invoice-rows">
                        </tbody>
                        <tfoot id="invoice-footer">
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col add-item-col">
        <a href="#" class="add-item">
            <i class="fas fa-plus-circle"></i> {{trans "invoice.item.add" }}
        </a>
    </div>
</div>
