{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="panel panel-default">
    <div class="panel-heading">
	<div class="pull-right">
	    {% if clients is not empty %}
		<a href="{{ path('_clients_index') }}">
		    {{ 'dashboard.client.view_all'|trans }}
		</a>
	    {% endif %}
	</div>
	<h3 class="panel-title">
	    {{ icon('group') }} {{ 'dashboard.client.recent'|trans }}
	</h3>
    </div>
    {% if clients is not empty %}
	<ul class="list-group">
	    {% for client in clients %}
		<li class="list-group-item">
		    <div class="btn-group">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    {{ icon('cog') }}
			</button>
			<ul class="dropdown-menu" role="menu">
			    <li>
				<a href="{{ path('_clients_view', {'id' : client.id}) }}">
				    {{ icon('eye') }} {{ 'dashboard.client.actions.view'|trans }}
				</a>
			    </li>
			    <li>
				<a href="{{ path('_clients_edit', {'id' : client.id}) }}">
				    {{ icon('edit') }} {{ 'dashboard.client.actions.edit'|trans }}
				</a>
			    </li>
			    <li class="divider"></li>
			    <li>
				<a href="{{ path('_quotes_create', {'client' : client.id}) }}">
				    {{ icon('file-text-o') }} {{ 'dashboard.client.actions.create.quote'|trans }}
				</a>
			    </li>
			    <li>
				<a href="{{ path('_invoices_create', {'client' : client.id}) }}">
				    {{ icon('file-text-o') }} {{ 'dashboard.client.actions.create.invoice'|trans }}
				</a>
			    </li>
			</ul>
		    </div>

		    {{ client_label(client.status) }}

		    <a href="{{ path('_clients_view', {'id' : client.id}) }}">
			{{ client.name }}
		    </a>

		    <div class="pull-right">
			<strong>
			    {{ 'dashboard.client.actions.created'|trans }}
			</strong> {{ client.created|diff }}
		    </div>
		</li>
	    {% endfor %}
	</ul>
    {% else %}
	<div class="panel-body">
	    <div class="pull-left">
		<h4>
		    {{ 'dashboard.client.empty'|trans }}
		</h4>
	    </div>
	    <div class="pull-right">
		<a href="{{ path('_clients_add') }}" class="btn btn-info">
		    {{ icon('plus') }} {{ 'dashboard.client.create'|trans }}
		</a>
	    </div>
	</div>
    {% endif %}
</div>
