{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="col-sm-9">
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-blue">{{ icon('group') }}</span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ 'dashboard.active_clients'|trans }}</span>
                    <span class="info-box-number">{{ totalClients }}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-green">{{ icon('money') }}</span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ 'dashboard.income_received'|trans }}</span>
                        {% for income in totalIncome %}
                            <span class="info-box-number">
                                {{ income.totalAmount|formatCurrency(income.currencyCode) }}
                            </span>
                        {% else %}
                            <span class="info-box-number">
                                {{ 0|formatCurrency }}
                            </span>
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-yellow">{{ icon('file-text-o') }}</span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ 'dashboard.pending_quotes'|trans }}</span>
                    <span class="info-box-number">{{ totalQuotes }}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red">{{ icon('file-text-o') }}</span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ 'dashboard.outstanding_invoices'|trans }}</span>
                    <span class="info-box-number">{{ totalInvoices }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <ul class="list-group">
        <li class="list-group-item">
            {{ icon('list') }} {{ 'dashboard.quick_nav.title'|trans }}
        </li>
        <li class="list-group-item">
            <a href="{{ path('_clients_index') }}">
                {{ icon('group') }} {{ 'dashboard.quick_nav.clients'|trans }}
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('_quotes_index') }}">
                {{ icon('file-text-o') }} {{ 'dashboard.quick_nav.quotes'|trans }}
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('_invoices_index') }}">
                {{ icon('file-text-o') }} {{ 'dashboard.quick_nav.invoices'|trans }}
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('fos_user_profile_show') }}">
                {{ icon('user') }} {{ 'dashboard.quick_nav.profile'|trans }}
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('_settings') }}">
                {{ icon('cog') }} {{ 'dashboard.quick_nav.settings'|trans }}
            </a>
        </li>
    </ul>
</div>
