{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="col-md-9">
    <div class="row">
	<div class="col-md-6">
	    <div class="panel panel-primary">
		<div class="panel-heading">
		    <div class="row">
			<div class="col-xs-3">
			    {{ icon('group', ['fa-5x']) }}
			</div>
			<div class="col-xs-9 text-right">
			    <div>
				{{ 'dashboard.active_clients'|trans }}
			    </div>
			    <h3>
				{{ totalClients }}
			    </h3>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="col-md-6">
	    <div class="panel panel-success">
		<div class="panel-heading">
		    <div class="row">
			<div class="col-xs-3">
			    {{ icon('money', ['fa-5x']) }}
			</div>
			<div class="col-xs-9 text-right">
			    <div>
				{{ 'dashboard.income_received'|trans }}
			    </div>

			    {% for income in totalIncome %}
				<h3>
				    {{ income.totalAmount|formatCurrency(income.currencyCode) }}
				</h3>
			    {% endfor %}
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="col-md-6">
	    <div class="panel panel-warning">
		<div class="panel-heading">
		    <div class="row">
			<div class="col-xs-3">
			    {{ icon('file-text-o', ['fa-5x']) }}
			</div>
			<div class="col-xs-9 text-right">
			    <div>
				{{ 'dashboard.pending_quotes'|trans }}
			    </div>
			    <h3>
				{{ totalQuotes }}
			    </h3>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="col-md-6">
	    <div class="panel panel-danger">
		<div class="panel-heading">
		    <div class="row">
			<div class="col-xs-3">
			    {{ icon('file-text-o', ['fa-5x']) }}
			</div>
			<div class="col-xs-9 text-right">
			    <div>
				{{ 'dashboard.outstanding_invoices'|trans }}
			    </div>
			    <h3>
				{{ totalInvoices }}
			    </h3>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
<div class="col-md-3">
    <ul class="list-group">
	<li class="list-group-item">
	    {{ icon('list') }} {{ 'dashboard.quick_nav.title'|trans }}
	</li>
	<li class="list-group-item">
	    <a href="{{ path('_clients_index') }}">
		{{ icon('group') }} {{ 'dashboard.quick_nav.clients'|trans }}
	    </a>
	</li>
	<li class="list-group-item">
	    <a href="{{ path('_quotes_index') }}">
		{{ icon('file-text-o') }} {{ 'dashboard.quick_nav.quotes'|trans }}
	    </a>
	</li>
	<li class="list-group-item">
	    <a href="{{ path('_invoices_index') }}">
		{{ icon('file-text-o') }} {{ 'dashboard.quick_nav.invoices'|trans }}
	    </a>
	</li>
	<li class="list-group-item">
	    <a href="{{ path('fos_user_profile_show') }}">
		{{ icon('user') }} {{ 'dashboard.quick_nav.profile'|trans }}
	    </a>
	</li>
	<li class="list-group-item">
	    <a href="{{ path('_settings') }}">
		{{ icon('cog') }} {{ 'dashboard.quick_nav.settings'|trans }}
	    </a>
	</li>
    </ul>
</div>
