{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends 'CSBillCoreBundle:Layout:single_column.html.twig' %}

{% block title %}{{ "security.login.login"|trans }}{% endblock title %}

{% block content %}
	<fieldset>
	    <div class="row">
			<div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
			    {% if error %}
			        <div class="alert alert-danger">
			        	<button class="close" data-dismiss="alert">x</button>
			        	{{ error }}
			        </div>
			    {% endif %}

			    <div class="widget">
				    <form action="{{ path("fos_user_security_check") }}" method="post" id="login" role="form">
				        <div class="form-group">
				            <label for="username">{{ "security.login.username"|trans }}</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ icon('user') }}
                                </span>
                                <input class="form-control" type="text" id="username" name="_username" placeholder="{{ "security.login.username"|trans }}" value="{{ last_username }}" required="required" />
                            </div>
				        </div>

				        <div class="form-group">
				            <label for="password">{{ "security.login.password"|trans }}</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ icon('lock') }}
                                </span>
                                <input class="form-control" type="password" id="password" placeholder="{{ "security.login.password"|trans }}" name="_password" required="required" />
                            </div>
				        </div>

				        <div class="checkbox">
							<label for="remember_me" class="checkbox-inline">
                                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                                {{ "security.login.remember"|trans }}
                            </label>
						</div>

    					<div class="clear">
				        	<button type="submit" class="btn btn-success">{{ icon('key') }} {{ "security.login.login"|trans }}</button>
				        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				    </form>

				    <hr />
				    <a href="{{ path("fos_user_resetting_request") }}">
                        {{ icon('lock') }} {{ "security.login.forgot_password"|trans }}
                    </a>
				</div>
			</div>
		</div>
	</fieldset>
{% endblock content %}
