<div class="col-lg-6 col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <div class="float-right">
                <a href="{{path '_xhr_clients_edit_address' id=id }}" rel="tooltip" title="{{trans "client.address.edit" }}" class="edit-address btn btn-box-tool">
                    <i class="fas fa-pencil"></i>
                </a>

                <a href="#" rel="tooltip" title="{{trans "client.address.delete" }}" class="delete-address btn btn-box-tool">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <i class="fa fa-map-marker"></i>
            {{ street1 }} {{ street2 }} {{ city }} {{ state }} {{ zip }} {{ countryName }}

            <div class="float-right">
                <i class="fa fa-map-marker"></i>
                <a href="http://maps.google.com/?q={{ street1 }}+{{ street2 }}+{{ city }}+{{ state }}+{{ zip }}+{{ country }}" target="_blank">
                    {{trans 'client.address.view_map' }}
                </a>
            </div>
        </div>
    </div>
</div>
