<div class="col-lg-6 col-md-6">
    <div class="widget well well-sm contact-card" data-id="{{ id }}">
	<h4>
	    <i class="fa fa-user"></i> {{ first_name }} {{ last_name }}
	</h4>

	<dl class="dl-horizontal">
	    <dt>{{trans 'client.contact.details.email'}}:</dt>
	    <dd>{{ email }}</dd>
	</dl>

	{{#if additional_details}}
	    <h5>{{trans 'client.contact.details.extra'}}</h5>
	    <dl class="dl-horizontal">
		{{#each additional_details }}
		    <dt>{{title this.type }}:</dt>
		    <dd>{{ this.value }}</dd>
		{{/each}}
	    </dl>
	{{/if}}

	<div class="pull-right contact-actions">
	    <a href="{{path '_clients_edit_contact' id=id }}" rel="tooltip" title="{{trans "contact_edit" }}" class="text-info edit-contact">
		<i class="fa fa-pencil"></i>
	    </a>

	    {{#if canDelete}}
		<a href="#" rel="tooltip" title="{{trans "contact_delete" }}" class="text-danger delete-contact">
		    <i class="fa fa-trash-o"></i>
		</a>
	    {{/if}}
	</div>

	<br class="clearfix" />
    </div>
</div>