<div class="card client_contact_list">
    <div class="card-header">
            <div class="card-tools float-right">
                <a href="{{path "_xhr_clients_add_contact" id=id }}" class="btn btn-success btn-sm" data-id="{{ id }}" id="add-contact-button">
                    <i class="fas fa-user"></i> {{trans "client.view.actions.add_contact" }}
                </a>
                <div id="contacts-ajax-modal" class="modal fade" tabindex="-1"></div>
            </div>

        <h3 class="card-title">
            <i class="fas fa-users"></i> {{trans "client.heading.contacts" }}
        </h3>
    </div>

    <div class="card-body">
        <div id="client-contacts-list"></div>
    </div>
</div>

{{# if addresses }}
    <div class="card no-border client_address_list">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-building-o"></i> {{trans "client.heading.addresses" }}
            </h3>
        </div>

        <div class="card-body">
            <div id="client-address-list"></div>
        </div>
    </div>
{{/if}}
