{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top_menu">
                <span class="sr-only">Toggle navigation</span>
                {{ icon('bars') }}
            </button>

            <a class="navbar-brand" href="{{ url('_dashboard') }}">
                <img src="{{ asset('img/logo.png') }}" width="25" style="display: inline" /> {{ title }}
            </a>
        </div>

        <div class="collapse navbar-collapse" id="top_menu">
            {{ menu('top', {'attr' : {'class' : 'nav navbar-nav'}}) }}

            {{ menu('top_right', {'attr' : {'class' : 'nav navbar-nav navbar-right'}}) }}
        </div>
    </div>
</nav>
