{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceInstall/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3">

            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">{{ icon('database') }} {{ 'installation.config.title.database_config'|trans }}</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        Enter your database details below. If the database does not exist yes, we will attempt to create it first.
                    </div>
                    {{ form_row(form.database_config) }}
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col align-self-start">
                            <a href="{{ path('_install_check_requirements') }}" class="btn btn-warning btn-block">
                                {{ icon('arrow-left') }} {{ "installation.action.previous"|trans }}
                            </a>
                        </div>
                        <div class="col-8">
                        </div>
                        <div class="col" id="next_button">
                            <button type="submit" class="btn btn-success btn-block" id="continue_step">
                                {{ "installation.action.next"|trans }} {{ icon('arrow-right') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

