{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set moduleData = {
    mail: {
        settings: {
            value: form.email_settings.transport.transport.vars.value
        }
    }
} %}
{% extends '@SolidInvoiceInstall/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">{{ icon('database') }} {{ 'installation.config.title.database_config'|trans }}</h3>
                </div>
                <div class="card-body">
                    {{ form_row(form.database_config) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">{{ icon('envelope-o') }} {{ 'installation.config.title.email_settings'|trans }}</h3>
                </div>
                <div class="card-body">
                    {{ form_row(form.email_settings.transport) }}
                </div>
            </div>
        </div>
    </div>

    <div class="control-group float-right" id="next_button">
        <button type="submit" class="btn btn-success" id="continue_step">
            {{ "installation.action.next"|trans }} {{ icon('arrow-right') }}
        </button>
    </div>
    <br class="clear"/>

    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('installation-config') }}
{% endblock scripts %}
