{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceInstall/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">
                        {{ "installation.finish.success"|trans }}
                    </h3>
                </div>
                <div class="card-body">
                    <h4>
                        {{ "installation.finish.success_message"|trans }}
                    </h4>

                    <div>
                        <div class="alert alert-info">
                            As a final step, you must add a scheduled task to run every 5 minutes.
                        </div>
                        <p>
                            Add the following cron job:
                            <br />
                        <pre style="color: #c7254e;">
* * * * * php {{ binDir }}/console cron:run -e prod -n
                        </pre>
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col offset-10" id="next_button">
                            <a id="login" href="{{ path('_login') }}" class="btn-block btn btn-success">
                                {{ icon('user') }} {{ "installation.finish.login"|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
