{{#if title }}
    <div class="modal-header">
        {{#if titleClose}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{/if}}
        <h4>{{{title}}}</h4>
    </div>
{{/if}}
<div class="modal-body">
    {{> modalContent }}
</div>
{{#if buttons}}
    <div class="modal-footer">
        {{#each buttons~}}
            <button
                    {{#if this.close}}data-dismiss="modal"{{/if}}
                    class="
                        btn
                        btn-{{#if this.class}}{{this.class}}{{else}}primary{{/if}}
                        {{#if this.flat}} btn-flat{{/if}}
                        {{#if this.save}} btn-save{{/if}}
                        "
                    {{#if this.type}}
                        type="{{this.type}}"
                    {{/if}}
            >
                {{#if this.save}}
                   <i class="fa fa-save"></i>
                {{/if}}

                {{#if this.close}}
                   <i class="fa fa-times"></i>
                {{/if}}

                {{#if this.title}}
                    {{{this.title}}}
                {{else}}
                    {{@key}}
                {{/if}}
            </button>
        {{/each}}
    </div>
{{/if}}
